<script>
export default {
    name: 'AccountsImporters'
}
</script>
<template>
    <div id="DashboardNegativeModule" class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        Import tài khoản quảng cáo
                    </h3>
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                        <li class="m-nav__item m-nav__item--home">
                            <a href="#" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Bảng điều khiển
                                    </span>
                                </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Báo cáo tổng quan
                                    </span>
                                </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                            <span class="m-subheader__daterange-label">
                                <span class="m-subheader__daterange-title"></span>
                    <span class="m-subheader__daterange-date m--font-brand"></span>
                    </span>
                    <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                <i class="la la-angle-down"></i>
                            </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile" >
                <div class="m-portlet__body">

                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            Đang import tài khoản quảng cáo
                        </div>
                        <div class="p-2 bd-highlight">19% hoàn thành</div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <i>Đang tiến hành đồng bộ tài khoản [Opts..] của bạn ...</i>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="m-form__help">
                                <div class="m-demo-icon__class">
                                    <i class="la la-history"></i>
                                    3:35 phút còn lại 
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="m--space-10"></div>

                </div>
            </div>
        </div>
    </div>
</template>