<script>
import _ from 'lodash'
import $ from 'jquery'
import faker from 'faker'
import DateRangePicker from '@/components/base/DateRangePicker'

import "datatables.net-autofill-bs4"
import "datatables.net-bs4"
import 'datatables.net-bs4/css/dataTables.bootstrap4.min.css'
import "datatables.net-buttons-bs4"
import "datatables.net-colreorder-bs4"
import "datatables.net-fixedcolumns-bs4"
import "datatables.net-fixedheader-bs4"
import "datatables.net-keytable-bs4"
import "datatables.net-responsive-bs4"
import "datatables.net-rowgroup-bs4"
import "datatables.net-rowreorder-bs4"
import "datatables.net-scroller-bs4"
import "datatables.net-select-bs4"


export default {
    name: 'Accounts',
    components: {
        DateRangePicker
    },
    data: function(){
        return {
            Uid: _.uniqueId('NegativeKeywordsMcms-'),
            mcms : [],
            headings : [
                "ID",
                "Tài Khoản",
                "Đã sử dụng",
                "Chuyển đổi",
                "Actions",
            ],
            selectedItems : [],
        }
    },
    mounted: function(){
        this.initDatatable();  
    },
    created: function(){ 
        this.fakeMcms();
    },
    beforeDestroy: function() {
        if (this.chart) this.chart.dispose()
            this.destroyDatatable();
    },
    methods: {

        fakeMcms: function(){
            let mcms = [];
            for (var i = 0; i < 15; i++)
            {
                let _date = faker.date.past(50, new Date("Sat Sep 20 1992 21:35:02 GMT+0200 (CEST)"));
                _date = _date.getFullYear() + "-" + (_date.getMonth()+1) + "-" + _date.getDate();

                mcms.push({
                    accountId: _.uniqueId(),
                    accountName: faker.lorem.word(),
                    cost: faker.random.number(),
                    conversions: faker.random.number(),
                });
            }

            this.setMcms(mcms);
        },

        setMcms: function(mcms){
            this.mcms = [];
            this.mcms = mcms;
        },

        getMcms: function()
        {
            return this.mcms;
        },

        destroyDatatable: function(){
            if ($.fn.DataTable.isDataTable( '#table-' + this.Uid ))
            {
                $('#table-' + this.Uid).dataTable({ "destroy": true });
            }
        },
        initDatatable: function(){

            if ($.fn.DataTable.isDataTable( '#table-' + this.Uid )) {
                this.destroyDatatable();
            }

            var table = $('#table-' + this.Uid);
            // var _seft = this;

            // begin first table
            table.DataTable({
                colReorder: true,
                /*scrollX: true,
                fixedColumns: {
                    leftColumns: 2,
                },*/
                //== DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
                <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                //== Order settings
                order: [[1, 'desc']]
            });
            
            /*$(".DTFC_LeftHeadWrapper").css('top', '-15px');
            $(".DTFC_LeftHeadWrapper").css('background-color','white');
            $(".DTFC_LeftBodyWrapper").css('top', '-45px');
            $(".DTFC_LeftBodyWrapper").css('background-color','white');*/
        }
    }
}

</script>
<template>
    <div :id="Uid" class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        Trung Tâm Tài Khoản
                    </h3>
                </div>
                <DateRangePicker/>
            </div>
        </div>
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile" >
                <div class="m-portlet__body">
                    <div v-if="selectedItems.length > 0" class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30" id="m_datatable_group_action_form">
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label m-form__label-no-wrap">
                                        <label class="m--font-bold m--font-danger-">
                                            Đã chọn
                                            <span v-text="selectedItems.length"></span>
                                            dòng:
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <div class="btn-toolbar">

                                            <button class="btn btn-sm btn-danger" type="button" id="m_datatable_delete_all">
                                                <i class="fa flaticon-internet"></i>
                                                Phủ định các từ khóa đã chọn
                                            </button>
                                            &nbsp;&nbsp;&nbsp;
                                            <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#m_modal_fetch_id">
                                                <i class="fa flaticon-map"></i>
                                                Thêm từ khóa quảng cáo
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped- table-bordered table-hover table-checkable" :id="'table-'+Uid">
                        <thead>
                            <tr>
                                <th v-for="h in headings" :key="h" v-html="h"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="mcm in mcms" :key="mcm.accountId">
                                <td v-text="mcm.accountId"></td>
                                <td v-text="mcm.accountName"></td>
                                <td v-text="mcm.cost"></td>
                                <td v-text="mcm.conversions"></td>
                                <td nowrap></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
