<script>
import StatsWidgetItem from "@/components/widgets/StatsWidgetItem"
export default {
    name: 'DashBoardOverallThreeBox',
    components: {
        StatsWidgetItem
    }
}
</script>
<template>
    <div class="m-portlet">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-4">

                    <div class="m-widget1">

                        <StatsWidgetItem title="Đã sử dụng" desc="Chi phí đã sử dụng" value="-$17,800" valueExtendsClass="m--font-brand"/>

                        <StatsWidgetItem title="Đã tiết kiệm" desc="từ tool" value="-$1,800" valueExtendsClass="m--font-danger"/>

                    </div>
                    <!--end:: Widgets/Stats2-1 -->
                </div>
                <div class="col-xl-4">
                    <div class="m-widget1">

                        <StatsWidgetItem title="Số từ phủ định" desc="Trong thời gian qua" value="+12,000" valueExtendsClass="m--font-brand"/>

                        <StatsWidgetItem title="Số từ không liên quan" desc="Hiển thị sai mục tiêu" value="-5,354" valueExtendsClass="m--font-danger"/>

                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="m-widget1">

                        <StatsWidgetItem title="Số từ phủ định" value="2,130" valueExtendsClass="m--font-brand"/>
                        
                        <StatsWidgetItem title="Có thể phủ định" desc="Tiết kiệm được $533" value="543" valueExtendsClass="m--font-danger"/>


                        <a href="#" class="d-flex justify-content-center btn btn-outline-success m-btn m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
                            <span>
                                <i class="fa flaticon-light"></i>
                                <span>Phủ định ngay để tối ưu chi phí !</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>