<script>
import DashBoardOverallThreeBox from "@/components/modules/NegativeKeyMod/DashBoardOverallThreeBox"
import SearchTerms from "@/components/modules/NegativeKeyMod/SearchTerms"
import DateRangePicker from '@/components/base/DateRangePicker'

export default {
    name: 'DashboardNegativeModule',
    components: {
        DashBoardOverallThreeBox,
        SearchTerms,
        DateRangePicker
    }
}
</script>
<template>
	<div id="DashboardNegativeModule" class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        Dữ liệu tổng quang
                    </h3>
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                        <li class="m-nav__item m-nav__item--home">
                            <a href="#" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Bảng điều khiển
                                    </span>
                                </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Báo cáo tổng quan
                                    </span>
                                </a>
                        </li>
                    </ul>
                </div>
                <DateRangePicker/>
            </div>
        </div>
        <div class="m-content">

            <!--Begin::Section-->
            <DashBoardOverallThreeBox/>
            <!--End::Section-->

            <!--Begin::Section-->
            <div class="row">
                <div class="col-xl-6">
                    <SearchTerms title="Từ khóa được tìm kiếm - (Đã dùng 500.000 đ)"/>
                </div>
                <div class="col-xl-6">
                    <SearchTerms title="Gợi ý phủ định - (Tối ưu - tiết kiệm 500.000 đ)" extendsClass="m-portlet--warning"/>
                </div>
            </div>
        </div>
    </div>
</template>