<script>
import NegativeKeywordsIdeasList from "@/components/modules/NegativeKeyMod/NegativeKeywordsIdeasList"
import DateRangePicker from '@/components/base/DateRangePicker'

export default {
    name: 'NegativeKeywordsIdeas',
    components: {
        NegativeKeywordsIdeasList,
        DateRangePicker
    }
}
</script>
<template>
    <div id="DashboardNegativeModule" class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        Gợi ý từ khóa phủ định
                    </h3>
                    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                        <li class="m-nav__item m-nav__item--home">
                            <a href="#" class="m-nav__link m-nav__link--icon">
                                    <i class="m-nav__link-icon la la-home"></i>
                                </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Bảng điều khiển
                                    </span>
                                </a>
                        </li>
                        <li class="m-nav__separator">
                            -
                        </li>
                        <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                                    <span class="m-nav__link-text">
                                        Báo cáo tổng quan
                                    </span>
                                </a>
                        </li>
                    </ul>
                </div>
                <DateRangePicker/>
            </div>
        </div>
        <div class="m-content">
            <NegativeKeywordsIdeasList/>
        </div>
    </div>
</template>