<script>
import _ from 'lodash'
import $ from 'jquery'
import faker from 'faker'

import "datatables.net-autofill-bs4"
import "datatables.net-bs4"
import 'datatables.net-bs4/css/dataTables.bootstrap4.min.css'
import "datatables.net-buttons-bs4"
import "datatables.net-colreorder-bs4"
import "datatables.net-fixedcolumns-bs4"
import "datatables.net-fixedheader-bs4"
import "datatables.net-keytable-bs4"
import "datatables.net-responsive-bs4"
import "datatables.net-rowgroup-bs4"
import "datatables.net-rowreorder-bs4"
import "datatables.net-scroller-bs4"
import "datatables.net-select-bs4"

export default {
    name: 'NegativeKeywordsList',
    data: function(){
        return {
            Uid: _.uniqueId('NegativeKeywordsList-'),
            searchTerms : [],
            headings : [
                "KeywordId",
                "search Terms",
                "Match Type",
                "Added/Excluded",
                "Campaign",
                "Adgroup",
                "Clicks",
                "Ctr",
                "Impressions",
                "Interactions",
                "Interaction Rate",
                "Cost",
                "Avg. Cost",
                "Conversions",
                "Cost / conv",
                "Actions",
            ],
            selectedItems : [],
        }
    },
    created: function(){ 
        this.fakeSearchTerms();
    },
    mounted: function(){
        this.initDatatable();
    },
    beforeDestroy: function() {
        if (this.chart) this.chart.dispose()
            this.destroyDatatable();
    },
    methods: {

        fakeSearchTerms: function(){

            let searchTerms = [];
            for (var i = 0; i < 15; i++)
            {
                let _date = faker.date.past(50, new Date("Sat Sep 20 1992 21:35:02 GMT+0200 (CEST)"));
                _date = _date.getFullYear() + "-" + (_date.getMonth()+1) + "-" + _date.getDate();

                searchTerms.push({
                    date: _date,
                    keywordId: _.uniqueId(),
                    searchTerms: faker.lorem.word(),
                    queryMatchTypeWithVariant: _.sample(["Phrase","Extract","Broad"]),
                    queryTargetingStatus: _.sample(["Added","Excluded"]),
                    campaign: faker.lorem.words(),
                    adgroup: faker.lorem.words(),
                    clicks : faker.random.number(),
                    ctr : _.random(0, 100, 2),
                    impressions: faker.random.number(),
                    interactions: faker.random.number(),
                    interactionRate: _.random(0, 100, 2),
                    cost: faker.random.number(),
                    averageCost: faker.random.number(),
                    conversions: _.random(0, 999),
                    costPerConversion: faker.random.number(),
                });
            }

            this.setSearchTerms(searchTerms);
        },

        setSelectedItems: function(selectedItems){
            this.selectedItems = [];
            this.selectedItems = selectedItems;
        },

        getSelectedItems: function()
        {
            return this.selectedItems;
        },

        setSearchTerms: function(searchTerms){
            this.searchTerms = [];
            this.searchTerms = searchTerms;
        },

        getSearchTerms: function()
        {
            return this.searchTerms;
        },
        destroyDatatable: function(){
            if ($.fn.DataTable.isDataTable( '#table-' + this.Uid ))
            {
                $('#table-' + this.Uid).dataTable({ "destroy": true });
            }
        },
        initDatatable: function(){

            if ($.fn.DataTable.isDataTable( '#table-' + this.Uid )) {
                this.destroyDatatable();
            }

            var table = $('#table-' + this.Uid);
            var _seft = this;

            // begin first table
            table.DataTable({
                // responsive: true,
                colReorder: true,
                scrollX: true,
                fixedColumns: {
                    leftColumns: 2,
                },
                //== DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
                <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

                lengthMenu: [5, 10, 25, 50],

                pageLength: 10,

                language: {
                    'lengthMenu': 'Display _MENU_',
                },

                //== Order settings
                order: [[1, 'desc']],

                // headerCallback: function(thead, data, start, end, display) {
                headerCallback: function(thead) {
                    thead.getElementsByTagName('th')[0].innerHTML = `
                        <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                            <input type="checkbox" value="" class="m-group-checkable">
                            <span></span>
                        </label>`;
                },

                columnDefs: [
                    {
                        targets: 0,
                        width: '40px',
                        className: 'dt-right',
                        orderable: false,
                        // render: function(data, type, full, meta) {
                        render: function(data) {
                            return `
                            <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                <input data-id="`+data+`" type="checkbox" value="" class="m-checkable">
                                <span></span>
                            </label>`;
                        },
                    },
                ],
            });

            $("div#" + this.Uid + " .m-group-checkable").off("change").on("change", function(){
                var set = $(this).closest('.DTFC_LeftWrapper').find('td:first-child .m-checkable');
                var checked = $(this).is(':checked');

                $(set).each(function() {
                    if (checked) {
                        $(this).prop('checked', true);
                        $(this).closest('tr').addClass('active');

                        let selectedItems = _seft.getSelectedItems();
                        selectedItems.push($(this).data("id"));
                        _seft.setSelectedItems(selectedItems);
                    }
                    else
                    {
                        $(this).prop('checked', false);
                        $(this).closest('tr').removeClass('active');
                        _seft.setSelectedItems(_.pull(_seft.getSelectedItems(), $(this).data("id")));
                    }
                });
            });

            $("div#" + this.Uid + " .DTFC_LeftWrapper td:first-child .m-checkable")
            .off("change")
            .on("change", function(){
                
                var checked = $(this).is(':checked');
                if (checked)
                {
                    $(this).prop('checked', true);
                    $(this).closest('tr').addClass('active');

                    let selectedItems = _seft.getSelectedItems();
                    selectedItems.push($(this).data("id"));
                    _seft.setSelectedItems(selectedItems);
                }
                else
                {
                    $(this).prop('checked', false);
                    $(this).closest('tr').removeClass('active');
                    _seft.setSelectedItems(_.pull(_seft.getSelectedItems(), $(this).data("id")));
                }
            });

            $("div#" + this.Uid + " .m-group-checkable").trigger('change');
            
            $(".DTFC_LeftHeadWrapper").css('top', '-15px');
            $(".DTFC_LeftHeadWrapper").css('background-color','white');
            $(".DTFC_LeftBodyWrapper").css('top', '-45px');
            $(".DTFC_LeftBodyWrapper").css('background-color','white');
        }
    }
}
</script>
<style>

#modeCustomCss
{
    background-color: white !important;
}
</style>
<template>
    <div class="m-portlet m-portlet--mobile" :id="Uid">
        <div class="m-portlet__body">

            <div v-if="selectedItems.length > 0" class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30" id="m_datatable_group_action_form">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="m-form__group m-form__group--inline">
                            <div class="m-form__label m-form__label-no-wrap">
                                <label class="m--font-bold m--font-danger-">
                                    Đã chọn
                                    <span v-text="selectedItems.length"></span>
                                    dòng:
                                </label>
                            </div>
                            <div class="m-form__control">
                                <div class="btn-toolbar">

                                    <button class="btn btn-sm btn-danger" type="button" id="m_datatable_delete_all">
                                        <i class="fa flaticon-internet"></i>
                                        Xóa bỏ ra khỏi bộ từ khóa Phủ Định
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped- table-bordered table-hover table-checkable" :id="'table-'+Uid">
                <thead>
                    <tr>
                        <th v-for="h in headings" :key="h" v-html="h"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="searchTerm in searchTerms" :key="searchTerm.keywordId">
                        <td v-text="searchTerm.keywordId"></td>
                        <td v-text="searchTerm.searchTerms"></td>
                        <td v-text="searchTerm.queryMatchTypeWithVariant"></td>
                        <td v-text="searchTerm.queryTargetingStatus"></td>
                        <td v-text="searchTerm.campaign"></td>
                        <td v-text="searchTerm.adgroup"></td>
                        <td v-text="searchTerm.clicks"></td>
                        <td v-text="searchTerm.ctr"></td>
                        <td v-text="searchTerm.impressions"></td>
                        <td v-text="searchTerm.interactions"></td>
                        <td v-text="searchTerm.interactionRate"></td>
                        <td v-text="searchTerm.cost"></td>
                        <td v-text="searchTerm.averageCost"></td>
                        <td v-text="searchTerm.conversions"></td>
                        <td v-text="searchTerm.costPerConversion"></td>
                        <td nowrap></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>