<script>
import _ from 'lodash'
import swal from 'sweetalert2'
export default {
    name: 'SearchTerms',
    data : function(){
        return {
            searchTerms : [
                { key : _.uniqueId('_st_'), text : _.uniqueId('Quảng_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('JS_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('Cáo_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('Tủ_lạnh') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('Từ_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('Bánh kem_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('JS_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('PHP_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('MySql_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('Micro_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('JS_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('Monolothic_') },
                { key : _.uniqueId('_st_'), text : _.uniqueId('JS_') },
            ],
            modelUid : _.uniqueId('model-'),
            targetKey : null,
        }
    },
    props: {
        title: {
            type: String,
            default:  ""
        },
        extendsClass: {
            type: String,
            default: ""
        }
    },
    methods: {
        addKeyword: function(){
            swal({
                title:"Are you sure?",
                text:"You won't be able to revert this!",
                type:"warning",
                showCancelButton:!0,
                confirmButtonText:"Yes, delete it!",
                cancelButtonText:"No, cancel!",
                reverseButtons:!0})
            .then(function(e){
                e.value ? swal("Deleted!","Your file has been deleted.","success") : "cancel"===e.dismiss&&swal("Cancelled","Your imaginary file is safe :)","error")
            });
        },
        addNegativeKeyword: function(){
            swal({
                title:"Are you sure?",
                text:"You won't be able to revert this!",
                type:"warning",
                showCancelButton:!0,
                confirmButtonText:"Yes, delete it!",
                cancelButtonText:"No, cancel!",
                reverseButtons:!0})
            .then(function(e){
                e.value ? swal("Deleted!","Your file has been deleted.","success") : "cancel"===e.dismiss&&swal("Cancelled","Your imaginary file is safe :)","error")
            });
        },
        setTargetKey: function(keyword){
            this.targetKey = [];
            this.targetKey = _.cloneDeep(keyword);
        },
        getTargetKey: function(){
            return this.targetKey;
        },
        isEmpty: function(o){
            return _.isEmpty(o);
        }
    }
}
</script>
<style type="text/css" scoped>
div.m-portlet__body > a.btn {
    margin-right: 5px;
    margin-bottom: 15px;
}
</style>
<template>
    <div :class="'m-portlet m-portlet--head-solid-bg m-portlet--rounded ' + extendsClass">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="la la-thumb-tack"></i>
                    </span>
                    <h3 class="m-portlet__head-text" v-text="title">
                        Từ khóa được tìm kiếm - (Đã dùng 500.000 đ)
                    </h3>
                </div>          
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a class="m-portlet__nav-link btn btn-secondary m-btn m-btn--air m-btn--icon m-btn--icon-only m-btn--pill">
                            <i class="la la-angle-double-left"></i>
                        </a>
                    </li>                       
                    <li class="m-portlet__nav-item">
                        <a class="m-portlet__nav-link btn btn-secondary m-btn m-btn--air m-btn--icon m-btn--icon-only m-btn--pill">
                        <i class="la la-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">

            <a v-for="keyword in searchTerms" href="#" class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x m-btn--pill" data-toggle="modal" :data-target="'#' + modelUid" v-on:click="setTargetKey(keyword)">
                <span>
                    <i class="la la-archive"></i>
                    <span v-text="keyword.text"></span>
                </span>
            </a>
        </div>

        <div class="modal fade" :id="modelUid" :aria-labelledby="modelUid" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tối ưu tài khoản quảng cáo - Phủ định  từ khóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="!isEmpty(targetKey)">
                <span class="m-section__sub">
                Từ khóa "<a href="#" v-text="targetKey.text"></a>" đã hiển thị mẫu quảng cáo của bạn, nhưng chưa được cấu hình trong tài khoản quảng cáo của bạn . Từ khóa được hiển thị cho nhóm từ sau : 
                </span>
                
                <div class="d-flex justify-content-between bd-highlight mt-4 mb-2">
                    <div class="p-2 bd-highlight">
                        <span class="m-menu__link-badge"><span class="m-badge m-badge--danger">C</span></span>
                        <span>   Search_Thiết kế website</span>
                    </div>
                    <div class="p-2 bd-highlight">
                        <span class="m-menu__link-badge"><span class="m-badge m-badge--warning">A</span></span>
                        <span>   Thiết kế website</span>
                    </div>
                    <div class="p-2 bd-highlight">
                    <span class="m-menu__link-badge"><span class="m-badge m-badge--info">K</span></span>
                        <span>   Tối ưu website</span>
                    </div>
                </div>

                <hr/>

                <span class="m-section__sub">
                Bạn đã sử dụng <code>242,136 đ</code> cho từ khóa được tìm kiếm <span v-text="targetKey.text"></span> với <code>40 click</code> và <code> 0 chuyển đổi</code>
                </span>

                <hr/>

                <span class="m-section__sub">
                    Click <span class="m--font-warning">"Thêm vào từ khóa mới"</span> nếu bạn muốn sử dụng từ khóa này
                </span>
                <br>
                <span class="m-section__sub">
                    Click <span class="m--font-danger">"Thêm vào bộ từ khóa phủ định"</span> nếu bạn không muốn lãng phí ngân sách cho tài khoản này
                </span>

                <div class="d-flex justify-content-center mt-4">
                    <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air mr-2" v-on:click="addKeyword()">
                        <span>
                            <i class="fa flaticon-map"></i>
                            <span>Thêm vào tài khoản quảng cáo</span>
                        </span>
                    </a>

                    <a href="#" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" v-on:click="addNegativeKeyword()">
                        <span>
                            <i class="fa flaticon-internet"></i>
                            <span>Thêm vào từ khóa phủ định</span>
                        </span>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>