<script>
import { isEmpty, gt } from 'lodash'
import OverallContractData from '@/components/contract/OverallContractData'
import OverallContractAccountData from '@/components/contract/OverallContractAccountData'
import GoogleadsAccountDatatable from '@/components/contract/GoogleadsAccountDatatable'
import GoogleadsAccountDatatableChart from '@/components/contract/GoogleadsAccountDatatableChart'
import GoogleadsAccountDatatableChartXs from '@/components/contract/GoogleadsAccountDatatableChartXs'

export default {
	props: {
		mcmAccountId: {
			type: Number, 
			default: 0,
		},
		contractId: {
			type: Number, 
			default: 0,
		},
		isActive: {
			type: Boolean, 
			default: false,
		}
	},
	name: "GoogleadsAccountTab",
	data: () => ({
		dialog: false,
		drawer: false,
		isBooted : false,
	}),
	methods: {
		gt (a,b) { return gt(a,b); },
	},
	components: {
		OverallContractData,
		OverallContractAccountData,
		GoogleadsAccountDatatableChart,
		GoogleadsAccountDatatableChartXs,
		GoogleadsAccountDatatable
	},
}
</script>

<template>
	<div>
		<v-layout row wrap>
            <v-flex xs12 sm4 md3 lg3>
				<OverallContractData v-if="gt(contractId, 0)" :contractId="contractId" :mcmAccountId="mcmAccountId"/>
				<OverallContractAccountData v-if="!gt(contractId, 0) && gt(mcmAccountId, 0)" :mcmAccountId="mcmAccountId"/>
			</v-flex>
			
			<v-flex xs12 sm8 md9 lg9>
				<GoogleadsAccountDatatableChart :mcmAccountId="mcmAccountId"/>
			</v-flex>

			<!-- <v-flex xs12 sm8 md9 lg9 v-if="!this.$vuetify.breakpoint.xs">
				<GoogleadsAccountDatatableChart :mcmAccountId="mcmAccountId"/>
			</v-flex>
			<v-flex xs12 sm8 md9 lg9 v-if="this.$vuetify.breakpoint.xs">
				<GoogleadsAccountDatatableChartXs :mcmAccountId="mcmAccountId"/>
			</v-flex> -->

		</v-layout>
		<v-layout>
			<v-flex row xs12 class="mt-4">
				<GoogleadsAccountDatatable :mcmAccountId="mcmAccountId"/>
			</v-flex>
		</v-layout>
	</div>
</template>