<script>

import moment from 'moment'
import { isEmpty, round, isEqual} from 'lodash'
import { contractService } from '@/_services/contract.service'
import { googleadsAccountService } from '@/_services/googleads.account.service'
import { googleadsUtils } from '@/_services/googleads.utils'

export default {
	name: "OverallContractData",
	props: {
		mcmAccountId: {
			type: Number, 
			default: 0,
		},
		contractId: {
			type: Number, 
			default: 0,
		},
		isActive: {
			type: Boolean, 
			default: false,
		}
	},
	data () {
	  return {
	  	contractService: contractService,
	  	googleadsAccountService: googleadsAccountService,
	  	googleadsUtils,
	  	account: null
	  }
	},
	watch: {
		mcmAccountId () {
			this.getDataFromApi();
		},
		contractId () {
			this.getDataFromApi();
		}
	},
	computed: {
		contract () {
			return this.$store.state.globalFilterings.contract;
		},
		
		contractImpressions () { 

			if(isEmpty(this.account)) return 0;
			return this.account.Impressions;
		},
		contractClicks () { 

			if(isEmpty(this.account)) return 0;
			return this.account.Clicks;
		},
		contractAverageCpc () { 
			if(isEmpty(this.account)) return 0;
			return this.account.CurrencyCode == 'USD' ? this.dollarToVND(this.account.AverageCpc, this.contract.dollar_exchange_rate) : this.account.AverageCpc;
		},
		contractActualBudget () { 

			if(isEmpty(this.account)) return 0;
			return this.contract.actual_budget;
		},
		contractActualResult () { 
			if(isEmpty(this.account)) return 0;
			return isEqual(this.account.CurrencyCode, 'USD') ? this.dollarToVND(googleadsUtils.MicroTo(this.account.CostMicros), this.contract.dollar_exchange_rate) : googleadsUtils.MicroTo(this.account.CostMicros);
		},
		contractBalanceBudget () { 

			return this.contractActualBudget - this.contractActualResult; 
		},

		items () {
			
			let contractActualBudget 	= round(this.contractActualBudget).toLocaleString() + '<small> đ </small> ';
			let contractActualResult 	= round(this.contractActualResult).toLocaleString() + '<small> đ </small> ';
			let contractBalanceBudget 	= round(this.contractBalanceBudget).toLocaleString() + '<small> đ </small> ';
			let contractAverageCpc 		= round(googleadsUtils.MicroTo(this.contractAverageCpc)).toLocaleString() + '<small> đ </small> ';
			let dollarExchangeRateDesc 	= "";

			if( ! isEmpty(this.account) && isEqual("USD", this.account.CurrencyCode))
			{
				contractActualResult 	= ('<small>($ '+ googleadsUtils.MicroTo(this.account.CostMicros).toFixed(2) +' ~)</small> ').concat(contractActualResult);
				contractAverageCpc		= ('<small>($ '+ googleadsUtils.MicroTo(this.account.AverageCpc).toFixed(2) +' ~)</small> ').concat(contractAverageCpc);

				if( ! isEmpty(this.contract))
				{
					dollarExchangeRateDesc = "<br><small class='font-italic'><u>Tỷ giá " + this.contract.dollar_exchange_rate.toLocaleString() + " đ</u></small>";
				}
			}

			return [
				{
					title: "Ngân sách",
					subtitle: "NS QC đã thanh toán" + dollarExchangeRateDesc,
					value: contractActualBudget,
					valueColor: 'green--text',
					icon : {
						'name': 'payment',
						'color': 'green darken-2',
					}
				},
				{
					title: "Đã sử dụng",
					subtitle: "NS QC đã chi" + dollarExchangeRateDesc,
					value: contractActualResult,
					valueColor : 'blue--text',
					icon : {
						'name': 'trending_up',
						'color': 'blue darken-2',
					}
				},
				{
					title: "NS còn lại",
					subtitle: "Có thể sử dụng" + dollarExchangeRateDesc,
					value:  contractBalanceBudget,
					valueColor : 'purple--text',
					icon : {
						'name': 'monetization_on',
						'color': 'purple darken-2',
					}
				},
				{
					title: "Impression",
					subtitle: "Tổng hiển thị",
					value: this.contractImpressions.toLocaleString(),
					valueColor : 'teal--text',
					icon : {
						'name': 'remove_red_eye',
						'color': 'teal darken-2',
					}
				},
				{
					title: "Clicks",
					subtitle: "Tổng số nhấp chuột",
					value: this.contractClicks.toLocaleString(),
					valueColor : 'blue-grey--text',
					icon : {
						'name': 'mouse',
						'color': 'blue-grey darken-2',
					}
				},
				{
					title: "Chi phí /click",
					subtitle: "Chi phí mỗi nhấp chuột" + dollarExchangeRateDesc,
					value: contractAverageCpc,
					valueColor : 'orange--text',
					icon : {
						'name': 'touch_app',
						'color': 'orange darken-2',
					}
				}
		  	];
		},
	},
	created: function () {
		this.getDataFromApi();
	},
	methods: {
		dollarToVND(value, rate) {
			return value*rate;
		},
		getDataFromApi () {
            if(this.mcmAccountId <= 0 || isEmpty(this.contract)) return true;

            return new Promise(() => {

                let requestOptionsBody = {
                	filter: {
                		date: {
		                    operator: 'BETWEEN',
		                    value: {
		                        startDate: moment.unix(this.contract.advertise_start_time).format("YYYY-MM-DD"),
		                        endDate: moment.unix(this.contract.advertise_end_time).format("YYYY-MM-DD"),
		                    }
                		}
                	}
                };
                
                this.googleadsAccountService.get(this.mcmAccountId, requestOptionsBody)
                .then(result => {

                	if(result.data.length <= 1) result.data = result.data.shift();
                	this.account = result.data;
                	return result;
                });
            });
        },
	}
}
</script>
<style scoped>
.number{
	font-size: 1.2rem;
    font-weight: 600;
}
.number.brand{
	/*color: #716aca!important;*/
	text-align: right;
	float: right;
}
</style>
<template>
	<v-flex>
		<v-card>
			<v-list two-line>
				<v-subheader>
					<span><i>Số liệu tổng quan theo hợp đồng (All Dữ liệu)</i></span>
				</v-subheader>
				<template v-for="(item, index) in items">
					<v-divider inset></v-divider>
					<v-list-tile :key="item.title" avatar>
						<v-list-tile-avatar>
							<v-icon x-large :color="item.icon.color" v-text="item.icon.name"></v-icon>
						</v-list-tile-avatar>

						<v-list-tile-content>
							<v-list-tile-title v-html="item.title"></v-list-tile-title>
							<v-list-tile-sub-title>
								<span v-html="item.subtitle"></span>
								<span :class="'number brand right-align ' + item.valueColor" v-html="item.value"></span>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>
				</template>
			</v-list>
		</v-card>
	</v-flex>
</template>