<script>

import moment from 'moment'
import { isEmpty, round, gt, sum, map, min, max, isEqual } from 'lodash'
import { contractService } from '@/_services/contract.service'
import { googleadsAccountService } from '@/_services/googleads.account.service'
import { googleadsUtils } from '@/_services/googleads.utils'

export default {
	name: "OverallContractAccountData",
	props: {
		mcmAccountId: {
			type: Number, 
			default: 0,
		},
		isActive: {
			type: Boolean, 
			default: false,
		}
	},
	data () {
	  return {
	  	account: null,
	  	contracts: [],
	  	googleadsUtils,
	  	contractService: contractService,
	  	googleadsAccountService: googleadsAccountService
	  }
	},
	watch: {
		mcmAccountId () {
			this.getAllContractDataFromApi();
			this.getAccountDataFromApi();
		},
	},
	computed: {
		currencyCode () { return isEmpty(this.account) ? 'VND' : this.account.CurrencyCode },
		allContract () {

			if(isEmpty(this.contracts)) return null;

			let actual_result = 0;

			let result = { 

				actual_budget: sum(map(this.contracts, function(o) { 
					return o.actual_budget 
				})),
				balance_budget: 0
			};

			result.balance_budget = result.actual_budget - result.actual_result;

			let runtimes = [];
			_.forEach(this.contracts, function(o) { 
				runtimes.push(o.advertise_start_time)
				runtimes.push(o.advertise_end_time)
			})

			result.advertise_start_time = min(runtimes);
			result.advertise_end_time = max(runtimes);

			return result
		},
		
		contractImpressions 	() { return isEmpty(this.account) ? 0 : this.account.Impressions; },
		contractClicks 			() { return isEmpty(this.account) ? 0 : this.account.Clicks; },
		contractAverageCpc 		() {
			if(isEmpty(this.account)) return 0;
			return isEqual(this.currencyCode, 'USD') ? this.account.AverageCpc.toFixed(2) : round(account.AverageCpc);
		},
		contractActualBudget 	() {
			if(isEmpty(this.allContract)) return 0;
			return isEqual(this.currencyCode, 'USD') ? this.allContract.actual_budget.toFixed(2) : round(this.allContract.actual_budget);
		},
		contractActualResult 	() {
			if(isEmpty(this.account)) return 0;
			return isEqual(this.currencyCode, 'USD') ? googleadsUtils.MicroTo(this.account.CostMicros).toFixed(2) : round(googleadsUtils.MicroTo(this.account.CostMicros));
		},
		contractBalanceBudget	() { return this.contractActualBudget - this.contractActualResult; },

		items () {
			return [
				{
					title: "Ngân sách",
					subtitle: "NS QC đã thanh toán",
					value: round(this.contractActualBudget).toLocaleString() + '<small> đ </small> ',
					valueColor : 'green--text',

					icon : {
						'name': 'payment',
						'color': 'green darken-2',
					}
				},
				{
					title: "Đã sử dụng",
					subtitle: "Chi phí QC đã chi",
					value: this.contractActualResult.toLocaleString() + '<small> ' + (isEqual(this.currencyCode, 'USD')  ? '$' : 'đ') + ' </small> ',
					valueColor : 'blue--text',
					icon : {
						'name': 'trending_up',
						'color': 'blue darken-2',
					}
				},
				{
					title: "Impression",
					subtitle: "Tổng hiển thị",
					value: this.contractImpressions.toLocaleString(),
					valueColor : 'teal--text',
					icon : {
						'name': 'remove_red_eye',
						'color': 'teal darken-2',
					}
				},
				{
					title: "Clicks",
					subtitle: "Tổng số nhấp chuột",
					value: this.contractClicks.toLocaleString(),
					valueColor : 'blue-grey--text',
					icon : {
						'name': 'mouse',
						'color': 'blue-grey darken-2',
					}
				},
				{
					title: "Chi phí /click",
					subtitle: "Chi phí mỗi nhấp chuột",
					value: googleadsUtils.MicroTo(this.contractAverageCpc).toLocaleString() + '<small> ' + (isEqual(this.currencyCode, 'USD')  ? '$' : 'đ') + ' </small> ',
					valueColor : 'orange--text',
					icon : {
						'name': 'touch_app',
						'color': 'orange darken-2',
					}
				}
		  	];
		},
	},
	created: function () {
		this.getAllContractDataFromApi();
		this.getAccountDataFromApi();
	},
	methods: {
		getAllContractDataFromApi () {

            if( ! gt(this.mcmAccountId, 0)) return true;

            return new Promise(() => {

                let requestOptionsBody = {
					filter: {
						mcmAccountId: { operator: '=', value: this.mcmAccountId }
					},
					pagination: {page: 1, perPage: 500},	
                };

                this.contractService.getManyBy(requestOptionsBody)
                .then(result => {
                	this.contracts = result.data;
                	this.getAccountDataFromApi();
                });
            });
        },

        getAccountDataFromApi () {
            
            if( ! gt(this.mcmAccountId, 0) || isEmpty(this.allContract)) return true;

            return new Promise(() => {

                let requestOptionsBody = {
					filter: {
						date: {
							operator: 'BETWEEN',
							value: {
								startDate: moment.unix(this.allContract.advertise_start_time).format("YYYY-MM-DD"),
								endDate: moment.unix(this.allContract.advertise_end_time).format("YYYY-MM-DD"),
							}
						}
					}
                };

                this.googleadsAccountService.get(this.mcmAccountId, requestOptionsBody)
                .then(result => {
					if(result.data.length <= 1) result.data = result.data.shift();
					this.account = result.data;
					return result;
                });
            });
        },
	}
}
</script>
<style scoped>
.number{
	font-size: 1.2rem;
    font-weight: 600;
}
.number.brand{
	/*color: #716aca!important;*/
	text-align: right;
	float: right;
}
</style>
<template>
	<v-flex>
		<v-card>
			<v-list two-line>
				<v-subheader>
					<span><i>Số liệu tổng quan theo tài khoản</i></span>
				</v-subheader>
				<template v-for="(item, index) in items">
					<v-divider inset></v-divider>
					<v-list-tile :key="item.title" avatar>
						<v-list-tile-avatar>
							<v-icon x-large :color="item.icon.color" v-text="item.icon.name"></v-icon>
						</v-list-tile-avatar>

						<v-list-tile-content>
							<v-list-tile-title v-html="item.title"></v-list-tile-title>
							<v-list-tile-sub-title>
								<span v-text="item.subtitle"></span>
								<span :class="'number brand right-align ' + item.valueColor" v-html="item.value"></span>
							</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>
				</template>
			</v-list>
		</v-card>
	</v-flex>
</template>