<script>
export default { name: "Footer"}
</script>

<template>
	<v-footer height="auto" color="primary lighten-1">
		<v-layout justify-center row wrap>
			<v-flex lighten-2 py-3 text-xs-center white--text xs12 v-html="'Hệ thống theo dõi báo cáo dành cho khách hàng của <u>Adsplus.vn</u> &copy; 2018'" />
		</v-layout>
	</v-footer>
</template>