<script>
import { error } from 'util';
export default {
  data: () => ({
    show_remaket: true,
    show_googlegdn: true,
    show_shopping: true,
    dialog: false,
    value:{
          target_gs:'',
          target_remak:'',
          target_gdn:'',
          target_shop:'',
          radios_gs:'',
          radios_remak:'',
          radios_gdn:'',
          radios_shop:'',
          price_gs:'',
          price_remak:'',
          price_gdn:'',
          price_shop:'',
          display_gs:'',
          display_remak:'',
          display_gdn:'',
          display_shop:'',
          percent_gs:'',
          percent_remak:'',
          percent_gdn:'',
          percent_shop:''
      },
      getvalue: [],     
  }),

  // data_submit(){
  //   return {
     
      
  //   }
  // },

  methods:{
    submit(){
      this.$http.post('http://dev.bg.adstech.vn:9001/actions/doit/data.json', this.value)
          .then(response =>{console.log(response)}, error =>{console.log(error)})
      console.log(this.value);
    },
    getdata(){
       this.$http.get('http://dev.bg.adstech.vn:9001/quotation',)
          .then(response => {
            // console.log(response)
            return response.json();
          })
          // .then(data => {
          //   const newArr = []
          //   for (let key in data){
          //     newArr.push(data[key])
          //   }
          //   this.getvalue = newArr 
          // })
    }
  },

  props: {
    icon: {
      type: String,
      default: "$vuetify.icons.percent"
    }
  }
};
</script>

<template>
  <v-container grid-list-md text-xs-center style="margin: 50px 0px 0px">
    <!-- Phần đầu -->
    <v-layout id="information">
      <v-card width="100%">
        <v-card-title class="headline font-weight-regular pink white--text">Thông tin báo giá</v-card-title>
        <v-card-text>
          <v-subheader class="pa-0 red--text">Nhập đơn vị</v-subheader>
          <v-text-field label="Đơn vị *" color="red"></v-text-field>

          <v-subheader class="pa-0 red--text">Nhập địa chỉ website khách hàng</v-subheader>
          <v-text-field label="Website *"></v-text-field>

          <v-subheader class="pa-0 red--text">Nhập địa chỉ người phụ trách với khách hàng</v-subheader>
          <v-text-field label="Người phụ trách *"></v-text-field>
        </v-card-text>
      </v-card>
    </v-layout>
    <br>
    <!-- Phần hai -->
    <v-layout id="google_search">
      <v-flex>
        <v-card>
          <!-- Phần google search trái -->
          <v-flex xs12 sm6 md3 lg5 offset-md1 left>
            <v-subheader class="red--text headline font-weight-regular">Google Search</v-subheader>
            <v-flex>
              <v-subheader left>Mục tiêu quảng cáo</v-subheader>
              <v-textarea
                color="deep-purple"
                box
                v-model="value.target_gs"
                style="min-height: 96px; width:350px"
                label="Mục tiêu quảng cáo"
              ></v-textarea>
              <p>{{target_gs}}</p>
            </v-flex>
            <v-flex>
              <v-subheader>Tính phí</v-subheader>
              <v-radio-group v-model="value.radios_gs">
                <v-radio label="CPC" value="CPC_gs"></v-radio>
                <v-radio label="CPV" value="CPV_gs"></v-radio>
                <p>{{radios_gs}}</p>
              </v-radio-group>
            </v-flex>
            <v-flex>
              <v-subheader left>Đơn giá</v-subheader>
              <v-text-field label="Đơn giá" solo-inverted hint="CPC,CPV" v-model="price_gs"></v-text-field>
            </v-flex>

            <v-flex>
              <v-subheader left>Số lần hiện thị</v-subheader>
              <v-text-field
                solo-inverted
                hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
                v-model="value.display_gs"
              ></v-text-field>
            </v-flex>

            <v-flex>
              <v-subheader left>Tỉ lệ nhấp quảng cáo</v-subheader>
              <v-text-field
                solo-inverted
                label="%"
                hint="Ước tính tỉ lệ nhấp QC (CTR)"
                v-model="value.percent_gs"
              ></v-text-field>
              <!-- <v-icon v-text="icon"></v-icon> -->
            </v-flex>
          </v-flex>
          <!-- Phần google search phải -->
          <v-flex xs12 sm6 md3 lg5 offset-md8>
            <v-subheader class="red--text headline font-weight-regular">Google Remaketing</v-subheader>
            <v-flex>
              <!-- <v-checkbox 
                  
                  label="Google Re-marketing"
                  messages="Tích chọn để đưa số liệu vào báo gi"
                  v-model="enabled"
              ></v-checkbox>-->
              <v-subheader>Click để hiện thông tin</v-subheader>
              <v-card-actions right>
                <v-btn icon @click="show_remaket = !show_remaket">
                  <v-icon>{{ show_remaket ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-flex>
            <v-slide-y-transition>
              <v-flex v-show="show_remaket">
                <v-flex>
                  <v-subheader left>Mục tiêu quảng cáo (RE)</v-subheader>
                  <v-textarea
                    box
                    color="deep-purple"
                    style="min-height: 96px; width:350px"
                    v-model="value.target_remak"
                  ></v-textarea>
                </v-flex>

                <v-flex>
                  <v-subheader>Tính phí(RE)</v-subheader>
                  <v-radio-group v-model="value.radios_remak">
                    <v-radio label="CPC" value="CPC_remak"></v-radio>
                    <v-radio label="CPV" value="CPV_remak"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex>
                  <v-subheader left>Đơn giá(RE)</v-subheader>
                  <v-text-field label="Đơn giá" solo-inverted hint="CPC,CPV" v-model="price_remak"></v-text-field>
                </v-flex>
                <v-flex>
                  <v-subheader left>Số lần hiện thị(RE)</v-subheader>
                  <v-text-field
                    solo-inverted
                    hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
                    v-model="value.display_remak"
                  ></v-text-field>
                </v-flex>
                <v-flex>
                  <v-subheader left>Tỉ lệ nhấp quảng cáo(RE)</v-subheader>
                  <v-text-field
                    solo-inverted
                    label="%"
                    hint="Ước tính tỉ lệ nhấp QC (CTR)"
                    v-model="value.percent_remak"
                  ></v-text-field>
                </v-flex>
              </v-flex>
            </v-slide-y-transition>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
    <hr>

    <v-layout id="Phần Google GDN">
      <v-flex>
        <v-card>
          <!-- Phần Google GDN -->
          <v-flex xs12 sm6 md3 lg5 offset-md1 left>
            <v-subheader class="red--text headline font-weight-regular">Google GDN</v-subheader>
            <v-flex>
              <v-subheader>Click để hiện thông tin</v-subheader>
              <v-card-actions right>
                <v-btn icon @click="show_googlegdn = !show_googlegdn">
                  <v-icon>{{ show_googlegdn ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
              </v-card-actions>
              <!-- <v-checkbox 
                  label="Google GDN"
                  messages="Tích chọn để đưa số liệu vào báo gi"
              ></v-checkbox>-->
            </v-flex>
            <v-slide-y-transition>
              <v-flex v-show="show_googlegdn">
                <v-flex>
                  <v-subheader>Mục tiêu quảng cáo GDN</v-subheader>
                  <v-textarea
                    box
                    color="deep-purple"
                    style="min-height: 96px; width:350px"
                    v-model="value.target_gdn"
                  ></v-textarea>
                </v-flex>

                <v-flex>
                  <v-subheader>Tính phí</v-subheader>
                  <v-radio-group v-model="value.radios_gdn">
                    <v-radio label="CPC" value="CPC_gdn"></v-radio>
                    <v-radio label="CPV" value="CPV_gdn"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex>
                  <v-subheader left>Đơn giá GDN</v-subheader>
                  <v-text-field label="Đơn giá" solo-inverted hint="CPC,CPV" v-model="price_gdn"></v-text-field>
                </v-flex>
                <v-flex>
                  <v-subheader left>Số lần hiện thị(GDN)</v-subheader>
                  <v-text-field
                    solo-inverted
                    hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
                    v-model="display_gdn"
                  ></v-text-field>
                </v-flex>
                <v-flex>
                  <v-subheader left>Tỉ lệ nhấp quảng cáo(GDN)</v-subheader>
                  <v-text-field
                    label="%"
                    solo-inverted
                    hint="Ước tính tỉ lệ nhấp QC (CTR)"
                    v-model="value.percent_gdn"
                  ></v-text-field>
                </v-flex>
              </v-flex>
            </v-slide-y-transition>
          </v-flex>
          <!-- Phần Google Shopping -->
          <v-flex xs12 sm6 md3 lg5 offset-md8>
            <v-subheader class="red--text headline font-weight-regular">Google Shopping</v-subheader>
            <v-flex>
              <!-- <v-checkbox 
                  label="Google Shopping"
                  messages="Tích chọn để đưa số liệu vào báo gi"
              ></v-checkbox>-->
              <v-subheader>Click để hiện thông tin</v-subheader>
              <v-card-actions right>
                <v-btn icon @click="show_shopping = !show_shopping">
                  <v-icon>{{ show_shopping ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-flex>
            <v-slide-y-transition>
              <v-flex v-show="show_shopping">
                <v-flex>
                  <v-subheader>Mục tiêu quảng cáo Shopping</v-subheader>
                  <v-textarea
                    box
                    color="deep-purple"
                    style="min-height: 96px; width:350px"
                    v-model="value.target_shop"
                  ></v-textarea>
                </v-flex>

                <v-flex>
                  <v-subheader>Tính phí</v-subheader>
                  <v-radio-group v-model="value.radios_shop">
                    <v-radio label="CPC" value="CPC_shop"></v-radio>
                    <v-radio label="CPV" value="CPV_shop"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex>
                  <v-subheader left>Đơn giá Shopping</v-subheader>
                  <v-text-field label="Đơn giá" solo-inverted hint="CPC,CPV" v-model="price_shop"></v-text-field>
                </v-flex>
                <v-flex>
                  <v-subheader left>Số lần hiện thị(Shopping)</v-subheader>
                  <v-text-field
                    solo-inverted
                    hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
                    v-model="value.display_shop"
                  ></v-text-field>
                </v-flex>
                <v-flex>
                  <v-subheader left>Tỉ lệ nhấp quảng cáo(Shopping)</v-subheader>
                  <v-text-field
                    solo-inverted
                    label="%"
                    hint="Ước tính tỉ lệ nhấp QC (CTR)"
                    v-model="value.percent_shop"
                  ></v-text-field>
                </v-flex>
              </v-flex>
            </v-slide-y-transition>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- </v-card> 
    </v-flex>-->

    <!-- Phần button -->
    <v-layout id="button">
      <v-flex align-center purple>
        <div>
          <v-btn 
              color="green"
              @click="submit"
              >Submit</v-btn>
          <v-btn 
                color="yellow"
                @click="getdata">reset</v-btn>
            <!-- <ul class="list-group">
                 <li class="list-group-item"
                  v-for="user in getvalue" v-bind:key="user">{{user.username}} - {{user.email}}</li>
               </ul> -->
        </div>
        <!-- Phần dialog -->
        <v-dialog v-model="dialog" max-width="290">
          <v-card>
            <v-card-title class="headline">Use Google's location service?</v-card-title>

            <v-card-text>Thành công</v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="green darken-1" flat="flat" @click="dialog = false">Disagree</v-btn>

              <v-btn color="green darken-1" flat="flat" @click="dialog = false">Agree</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>