<script>

import { isEmpty, words, slice, join, has } from 'lodash'

export default { 
	name: "SpeedDialButtons",
	data: () => ({
		dialog: false,
		fab: false,
		fling: false,
		hover: false,
		tabs: null,
		top: false,
		right: true,
		bottom: true,
		left: false,
		transition: 'slide-y-reverse-transition'
	}),
	computed: {
		isMobile () {
			return this.$vuetify.breakpoint.xs == true;
		},
		direction () { return this.isMobile ? 'top' : 'right' },
		activeFab () {
			switch (this.tabs) {
				case 'one': return { 'class': 'purple', icon: 'account_circle' }
				case 'two': return { 'class': 'red', icon: 'edit' }
				case 'three': return { 'class': 'green', icon: 'keyboard_arrow_up' }
				default: return {}
			}
		},

		techStaff () { return this.$store.state.globalFilterings.techStaff; },
		contract () { return this.$store.state.globalFilterings.contract; },
		sale () { 

			if(isEmpty(this.contract)) return null;
			if(isEmpty(this.contract.sale)) return null;
			return this.contract.sale;
		},
		techStaff () { 

			if(isEmpty(this.contract)) return null;
			if(isEmpty(this.contract.techStaff)) return null;
			return this.contract.techStaff;
		},
		saleContactText () {

			if(isEmpty(this.sale) || !has(this.sale, 'user_phone')) return "";

			let result = !isEmpty(this.sale.display_name) ? "(" + this.toShortName(this.sale.display_name) + ") " : "";
			result += this.sale.user_phone;
			return result;
		},
		techContactText () {

			if(isEmpty(this.techStaff) || !has(this.techStaff, 'user_phone')) return "";

			let result = !isEmpty(this.techStaff.display_name) ? "(" + this.toShortName(this.techStaff.display_name) + ") " : "";
			

			result += this.techStaff.user_phone;
			return result;
		}
	},
	methods: {
		toShortName (text) {
			
			if(isEmpty(text)) return "";
			let _words = words(text);
			return _words.length <= 1 ? text : join(slice(_words, _words.length-2, _words.length), " ");
		},
		has (object, path) { return has(object, path) }
	}
}
</script>

<style scoped="scoped">
	a.aInBtn {
		color: white !important;
		text-decoration: none !important;
	}
</style>

<template>
	<v-speed-dial fixed v-model="fab" bottom left :direction="direction" :open-on-hover="hover" :transition="transition">
		<v-btn slot="activator" color="green darken-2" dark fab>
			<v-icon x-large>phone</v-icon>
		</v-btn>
		<v-btn v-if="saleContactText" dark round color="purple">
			<a class="aInBtn" :href="'tel:' + sale.user_phone" v-text="saleContactText"></a>
		</v-btn>
		<v-btn v-if="techContactText" dark round color="indigo">
			<a class="aInBtn" :href="'tel:' + techStaff.user_phone" v-text="techContactText"></a>
		</v-btn>
	</v-speed-dial>
</template>