<script>
export default { 
	name: "ToolbarItemToolsMenu",
	data: () => ({
		fav: true,
		menu: false,
		message: false,
		hints: true,
		lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
	})
}
</script>

<template>
	<v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-y :lazy="true" :full-width="true">
        <v-btn slot="activator" flat>Tools</v-btn>
			<v-container fluid grid-list-sm dark class="white">
				<v-layout row wrap>
					<v-flex d-flex xs12 sm4>
						<v-card color="lighten-2" tile flat>
							<v-list two-line subheader>
								<v-subheader>
									<v-icon large>local_atm</v-icon> <span v-html="'&nbsp'"></span>
									Khuyến mãi
								</v-subheader>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Get coupon</v-list-tile-title>
										<v-list-tile-sub-title>Nhận 1.300.000 đ NSQC từ Google</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-card>
					</v-flex>
					<v-flex d-flex xs12 sm4 child-flex>
						<v-card color="orange lighten-2" tile flat>
							<v-list four-line subheader>
								<v-subheader>
									<v-icon large>layers</v-icon> <span v-html="'&nbsp'"></span>
									Tối ưu quảng cáo
								</v-subheader>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Giám sát LP</v-list-tile-title>
										<v-list-tile-sub-title>
											Check link QC die, Cảnh báo/ Dừng Campaign / Tự động bật lại các campaign đã dừng do link die
										</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Quản lý mục tiêu (KPI)</v-list-tile-title>
										<v-list-tile-sub-title>Hệ thống cảnh báo theo mục tiêu (NS, CLicks, ...)</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Chặn IP</v-list-tile-title>
										<v-list-tile-sub-title>Hạn chế target không đúng đối tượng</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Phủ định từ khóa</v-list-tile-title>
										<v-list-tile-sub-title>Search + Shopping Ads: "Phủ định từ khóa Tìm từ khóa thêm tự động tạo chiến dịch</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-card>
					</v-flex>
					<v-flex d-flex xs12 sm4>
						<v-card color="lighten-2" tile flat>
							<v-list two-line subheader>
								<v-subheader>
									<v-icon>timeline</v-icon> <span v-html="'&nbsp'"></span>
									Đo lường
								</v-subheader>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Điểm chất lượng</v-list-tile-title>
										<v-list-tile-sub-title>View Lịch sử điểm chất lượng</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>

								<v-list-tile avatar>
									<v-list-tile-content>
										<v-list-tile-title>Overview chiến dịch</v-list-tile-title>
										<v-list-tile-sub-title>Your status is visible to everyone</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-card>
					</v-flex>
				</v-layout>
			</v-container>
      </v-menu>
</template>