<script>
import { isEmpty, trim, words, last, upperCase } from 'lodash'

export default { 
	name: "ToolbarItemProfile",
	computed: {
        user () {
			if(isEmpty(this.$store.state.authentication.user)) return null;
			let user = this.$store.state.authentication.user;
			
			if(!isEmpty(user.avatar)) return $user;

			user.short_display_name = upperCase(last(words(trim(user.display_name))).charAt(0));
			return user;
        }
    },
    methods: {
        logout : function(){
            this.$store.dispatch('authentication/logout');
        },
        customerType: function(type){
			
			let _type = '';
			switch (type) {
				case 'admin': _type = 'Kỹ thuật viên'; break;
				case 'customer_person': _type = 'Khách Hàng Cá Nhân'; break;
				case 'customer_person': _type = 'Khách Hàng Doanh Nghiệp'; break;
				default: break;
			}
			return _type;
        }
    },
	data: () => ({
		fav: true,
		menu: false,
		message: false,
		hints: true,
		lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
	})
}
</script>
<template>
	<v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
		<v-btn icon large slot="activator" flat>
			<v-avatar color="teal" size="35px">
				<img v-if="user.avatar !== null" :src="user.avatar" :alt="user.id">
				<span v-else class="white--text headline" v-html="user.short_display_name"></span>
			</v-avatar>	
		</v-btn>

		<v-card>
			<v-list>
				<v-list-tile avatar>
					<v-list-tile-avatar color="teal">
						<img v-if="user.avatar !== null" :src="user.avatar" :alt="user.id">
						<span v-else class="white--text headline" v-html="user.short_display_name"></span>
					</v-list-tile-avatar>

					<v-list-tile-content>
						<v-list-tile-title v-text="user.display_name"></v-list-tile-title>
						<v-list-tile-sub-title v-text="customerType(user.type)"></v-list-tile-sub-title>
					</v-list-tile-content>

				</v-list-tile>
			</v-list>
			<v-divider></v-divider>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="primary" flat @click="menu = false;logout()">Đăng xuất</v-btn>
			</v-card-actions>
		</v-card>
	</v-menu>
</template>