<script>

import moment from 'moment';
import { userMessageService } from '@/_services/user.message.service'

export default { 
	name: "ToolbarItemNotifications",
	data: () => ({
		fav: true,
		menu: false,
		message: false,
		hints: true,
		isBooted: false,
		lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`,
		items: [
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            title: 'Brunch this we1ekend?',
            subtitle: "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
            title: 'Summer BB2Q <span class="grey--text text--lighten-1">4</span>',
            subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend."
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
            title: 'Oui o3ui',
            subtitle: "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?"
          }
        ],
        messages: [],
        userMessageService: userMessageService
	}),
	computed: {
        user () {
			if(_.isEmpty(this.$store.state.authentication.user)) return null;
			let user = this.$store.state.authentication.user;
			
			if(!_.isEmpty(user.avatar)) return $user;

			user.short_display_name = _.upperCase(_.last(_.words(_.trim(user.display_name))).charAt(0));
			return user;
        }
    },
    watch: {
    	menu () {
    		if( ! this.isBooted) this.isBooted = true
    	},
    	isBooted () {
    		if( ! this.isBooted) return
    		console.log(this.isBooted);
    		this.getMessagesApi()
    	}
    },
    created () {
    	this.getMessagesApi()
    },
    mounted () {
    	this.menu = true;
    },
    methods: {
    	truncate (value) {
    		return _.truncate(value , {
    			length: 40,
    			omission: ' [...]'
    		})
    	},
    	unixToDate (timestamp) {
    		return moment.unix(timestamp).format('DD/MM/YYYY - h:hh A');
    	},
    	getMessagesApi () {
    		return new Promise(() => {

                this.userMessageService.getManyBy({})
                .then(result => {
                	this.messages = result.data;
                    return result;
                });
            });
    	},

        logout : function(){
            this.$store.dispatch('authentication/logout');
        },
        customerType: function(type){
			
			let _type = '';
			switch (type) {
				case 'admin': _type = 'Kỹ thuật viên'; break;
				case 'customer_person': _type = 'Khách Hàng Cá Nhân'; break;
				case 'customer_person': _type = 'Khách Hàng Doanh Nghiệp'; break;
				default: break;
			}
			return _type;
        }
    }
}
</script>
<template>
	<v-menu v-model="menu" :close-on-content-click="false" offset-y>
		<v-btn icon large slot="activator" flat>
			<v-icon>notifications</v-icon>
		</v-btn>

		<v-card>
			<v-list two-line>
				<template v-for="message in messages">
					<v-list-tile v-key="message.msg_id" avatar click="">
						<v-list-tile-avatar>
							<v-icon v-text="message.hed_type == 'sms' ? 'textsms' : 'email'"></v-icon>
						</v-list-tile-avatar>

						<v-list-tile-content>
                            <v-list-tile-title v-html="truncate(message.msg_title)"></v-list-tile-title>
							<v-list-tile-sub-title v-html="unixToDate(message.created_on)"></v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>
				</template>
			</v-list>
			<v-divider></v-divider>
			<v-btn large block>Xem tất cả</v-btn>
		</v-card>
	</v-menu>
</template>