<script>
export default {
    name: 'StatsWidgetItem',
	props: {
		title: {
			type: String,
			default: ""
		},
		desc: {
			type: String,
			default: ""
		},
		value: {
			type: String,
			default: ""
		},
		valueExtendsClass: {
			type: String,
			default: ""
		}
	}
}
</script>
<template>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title" v-html="title"></h3>
				<span class="m-widget1__desc" v-html="desc"></span>
			</div>
			<div class="col m--align-right">
				<span :class="'m-widget1__number ' + valueExtendsClass" v-html="value"></span>
			</div>
		</div>
	</div>
</template>