<template>
    <body id="app" class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default">
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <NavBar/>

            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
                <button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn">
                    <i class="la la-close"></i>
                </button>

                <SideBar/>
                
                <div class="m-aside-menu-overlay"></div>
                
                <router-view />
            </div>
            <FooterBar/>
        </div>
        <QuickSideBar/>
        <div id="m_scroll_top" class="m-scroll-top">
            <i class="la la-arrow-up"></i>
        </div>
    </body>
</template>

<script>

import QuickSideBar from '@/components/QuickSideBar'
import NavBar from '@/components/NavBar'
import SideBar from '@/components/SideBar'
import FooterBar from '@/components/FooterBar'
import Alert from '@/components/Alert';

export default {
    name: 'Home',
    data : function(){
        return {
            baseUrl : process.env.Base_URL
        }
    },
    created () {
        this.$store.dispatch('users/getAll');
    },
    components: {
        QuickSideBar,
        NavBar,
        SideBar,
        FooterBar,
        Alert
    },
};
</script>