<script>
export default {
    data () {
        return {
            password: '',
            username: '',
            submitted: false,
        }
    },
    computed: {
        loggingIn () {
            return this.$store.state.authentication.status.loggingIn;
        }
    },
    created () {
        // reset login status
        this.$store.dispatch('authentication/logout');
    },
    mounted: function() {
        // this.initAuth();
    },
    methods: {

        callbackLogin (){

            const { id, email, basicInfo } = this;
            const { dispatch } = this.$store;
            if (id && email) {
                dispatch('authentication/loginOAuth', { id, email, basicInfo });
            }
        },
        handleSubmit () {
            this.submitted = true;
            const { username, password } = this;
            const { dispatch } = this.$store;
            if (username && password) {
                dispatch('authentication/login', { username, password });
            }
        }
    }
};
</script>
<style scoped>
</style>

<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center>
                    <v-flex xs12 sm8 md4>
                        
                        <v-layout justify-center wrap class="py-3 my-3">
                            <v-flex xs12 sm8 md8>
                                <v-img src="logo.png" height="83" width="181"></v-img>
                            </v-flex>
                        </v-layout>

                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>GURU.ADSPLUS.VN</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-tooltip bottom></v-tooltip>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" name="login" v-model="username" label="Số điện thoại" type="text" :rules="[() => !!username || 'Vui lòng nhập số điện thoại của bạn']"></v-text-field>
                                    <v-text-field id="password" prepend-icon="lock" v-model='password' name="password" label="Mật khẩu" type="password" :rules="[() => !!password || 'Vui lòng nhập mật khẩu']"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary">Đăng nhập</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
  </v-app>
</template>