
<script>
$(document).ready(function(){
  $('#demo1').click(function(){
    $('.demo_search').show(1000);
    $('.demo_re').hide(1000);
    $('.demo_gdn').hide(1000);
    $('.demo_shop').hide(1000);
  });
  $('#demo2').click(function(){
    $('.demo_search').hide(1000);
    $('.demo_re').show(1000);
    $('.demo_gdn').hide(1000);
     $('.demo_shop').hide(1000);
  });
  $('#demo3').click(function(){
    $('.demo_search').hide(1000);
    $('.demo_re').hide(1000);
    $('.demo_gdn').show(1000);
     $('.demo_shop').hide(1000);
  });
  $('#demo4').click(function(){
    $('.demo_search').hide(1000);
    $('.demo_re').hide(1000);
    $('.demo_gdn').hide(1000);
     $('.demo_shop').show(1000);
  });
});
export default {

  data: () => ({
    show_search: false,
    show_gdn: false,
    show_re: false,
    show_shop: false
  }),

};
</script>
<style scoped>
/* thanh tiêu đề báo giá */
/* .v-text-field{
  margin-right: 20px;
} */
.demo_search{
  display: none;
}
.demo_re{
  display: none;
}
.demo_gdn{
  display: none;
}
.demo_shop{
  display: none;
}
.header_re{
    font-size: 16px;
    color: red;
}
.header_shop{
    font-size: 16px;
    color: green;
}
.header_gdn{
   font-size: 16px;
    color: orange;
}
#infor_quota{
  background: #fff9de;
  color: #f5e51b;
  font-family: cursive;
}
#container{
  background: #ffffcc;
} 
#card_left{
  background: #ffffcc;
}
#card_right{
font-family: cursive;
}
.header_search{
    font-size: 16px;
    color: #2c82c9;
     
}
.v-expansion-panel__container{
   border-radius: 0px 20px 20px 0px;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Iceland-Regular";
  src: url(../fonts/Iceland-Regular.ttf) format("truetype");
}
</style>
<template>
  <v-container justify-center id="container">
    <!-- Phần 1 -->
    <v-layout id="infor">
      <v-flex justify-center>
        <div
          style=" font-size: 3.5em;
                    color: #d35400;
                    text-align: center;
                    border-top: 3px double #d35400;
                    border-bottom: 3px double #d35400;
                    padding: 0.3em 0;
                    font-family: 'Iceland-Regular';
                    margin-bottom: 20px"
        >
          <h4>Quotation Information</h4>
        </div>
        <v-card id="infor_quota">
          <v-card-text>
            <v-text-field label="Đơn vị *"></v-text-field>

            <v-text-field label="Website *"></v-text-field>

            <v-text-field label="Người phụ trách *"></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <!-- Phần 2 -->
    <v-layout id="import" column>
      <!-- tiêu đề -->
      <v-flex>
        <div
          style=" font-size: 3.5em;
                    color: #d35400;
                    text-align: center;
                    border-top: 3px double #d35400;
                    border-bottom: 3px double #d35400;
                    padding: 0.3em 0;
                    font-family: 'Iceland-Regular';
                    margin-top: 20px;
                    margin-bottom: 20px"
        >
          <h4>Import Quotation</h4>
        </div>
      </v-flex>
      <!-- Phần chọn lựa -->
      <v-layout>
        <v-flex lg5 md6 xs12 pa-1>
          <v-card flat id="card_left">
            <v-expansion-panel>
            
              <v-expansion-panel-content 
              class="blue white--text font-weight-bold headline "
              id="demo1">
             
                <template v-slot:actions>
                   <v-icon 
                
                   color="white" large>$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                
                  <div 
                 >
                    <v-icon 
                   
                    color="white" large>search</v-icon>
                  </div>
                  <div 
                   
                  style="margin-left: -30%">Google Search</div>
                </template>
            
                <v-card>
                  <v-card-text
                    class="grey lighten-3"
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
                </v-card>
              </v-expansion-panel-content>

              <!--       Phần google remaketing -->
              <v-expansion-panel-content 
              id="demo2"
              class="red white--text font-weight-bold headline">
                <template v-slot:actions>
                  <v-icon 
                   
                  color="white" large>$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                  <div>
                    <v-icon color="white" large>star</v-icon>
                  </div>
                  <div style="margin-left: -15%">Google Re-Maketing</div>
                </template>
                <v-card>
                  <v-card-text
                    class="grey lighten-3"
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <!-- Phần GDN -->
              <v-expansion-panel-content
              id="demo3"
               class="orange white--text font-weight-bold headline">
                <template v-slot:actions>
                  <v-icon color="white" large>$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                  <div>
                    <v-icon color="white" large>airplay</v-icon>
                  </div>
                  <div style="margin-left: -35%">Google GDN</div>
                </template>
                <v-card>
                  <v-card-text
                    class="grey lighten-3"
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <!-- Phần shopping -->
              <v-expansion-panel-content 
              id="demo4"
              class="green white--text font-weight-bold headline">
                <template v-slot:actions>
                  <v-icon color="white" large>$vuetify.icons.expand</v-icon>
                </template>
                <template v-slot:header>
                  <div>
                    <v-icon color="white" large>shopping_cart</v-icon>
                  </div>
                  <div style="margin-left: -25%">Google Shopping</div>
                </template>
                <v-card>
                  <v-card-text
                    class="grey lighten-3"
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <h1>Trái</h1>
          </v-card>
        </v-flex>
        <!-- done -->
        <!-- Phần phải -->
        
          <v-flex 
          
          lg6 md5 xs12 pa-1 offset-lg1>
            <!-- Google search -->
          
          <v-card
          class="demo_search" 
          disabled
         
          style="border-radius: 10px 10px 0px 0px;" 
          color="rgba(228, 241, 254, 1)" 
          id="card_right">
             <v-subheader 
             class="white--text headline font-weight-bold  blue "
             >Google Search</v-subheader>
             <!-- mục tiêu quảng cáo -->
              <v-flex offset-lg2 lg8>
              <v-subheader class="header_search">Mục tiêu quảng cáo</v-subheader>
              <v-textarea
      
                color="blue"
                box
                hint="Mục tiêu mà bạn mong muốn"
                style="min-height: 96px; width:350px"
               
              ></v-textarea>
              <p>{{target_gs}}</p>
            </v-flex>
            <!-- done -->
            <!-- Tính phí -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_search">Tính phí</v-subheader>
              <v-radio-group style="font-family: cursive">
                <v-radio label="CPC" value="CPC_gs"></v-radio>
                <v-radio label="CPV" value="CPV_gs"></v-radio>
               
              </v-radio-group>
            </v-flex>
            <!-- done -->
            <!-- đơn giá -->
             <v-flex  offset-lg2 lg8>
              <v-subheader class="header_search">Đơn giá</v-subheader>
              <v-text-field  
               color="blue"
                box
              hint="CPC,CPV" ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- số lần hiển thị -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_search">Số lần hiện thị</v-subheader>
              <v-text-field
                color="blue"
                box
                hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
               
              ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- tỉ lệ nhấp quảng cáo -->
            <v-flex offset-lg2 lg8>
              <v-subheader class="header_search">Tỉ lệ nhấp quảng cáo</v-subheader>
              <v-text-field 
                
                color="blue"
                box
                label="%"
                hint="Ước tính tỉ lệ nhấp QC (CTR)"
               
              ></v-text-field>
             
            </v-flex>
            <!-- done -->
          </v-card>
          <!-- Phần remaketing -->
          <v-card 
          class="demo_re"
          
          style="border-radius: 10px 10px 0px 0px;" 
          color="red lighten-5" 
          id="card_right">
             <v-subheader 
             class="white--text headline font-weight-bold  red "
             >Google Re-Maketing</v-subheader>
             <!-- mục tiêu quảng cáo -->
              <v-flex offset-lg2 lg8>
              <v-subheader class="header_re">Mục tiêu quảng cáo</v-subheader>
              <v-textarea
                color="red"
                box
                hint="Mục tiêu mà bạn mong muốn"
                style="min-height: 96px; width:350px"
               
              ></v-textarea>
              <p>{{target_gs}}</p>
            </v-flex>
            <!-- done -->
            <!-- Tính phí -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_re">Tính phí</v-subheader>
              <v-radio-group style="font-family: cursive">
                <v-radio label="CPC" value="CPC_gs"></v-radio>
                <v-radio label="CPV" value="CPV_gs"></v-radio>
               
              </v-radio-group>
            </v-flex>
            <!-- done -->
            <!-- đơn giá -->
             <v-flex  offset-lg2 lg8>
              <v-subheader class="header_re">Đơn giá</v-subheader>
              <v-text-field  
                color="red"
                box
                hint="CPC,CPV" ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- số lần hiển thị -->

             <v-flex offset-lg2 lg8>
              <v-subheader class="header_re">Số lần hiện thị</v-subheader>
              <v-text-field
                color="red"
                box
                hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
               
              ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- tỉ lệ nhấp quảng cáo -->
            <v-flex offset-lg2 lg8>
              <v-subheader class="header_re">Tỉ lệ nhấp quảng cáo</v-subheader>
              <v-text-field 
                
                 color="red"
                box
                label="%"
                hint="Ước tính tỉ lệ nhấp QC (CTR)"
               
              ></v-text-field>
             
            </v-flex>
            <!-- done -->
          </v-card>

          <!-- Phần GDN -->
           <v-card 
           class="demo_gdn" 
         
          style="border-radius: 10px 10px 0px 0px;" 
          color="orange lighten-3" 
          id="card_right">
             <v-subheader 
             
             class="white--text headline font-weight-bold  orange "
             >Google GDN</v-subheader>
             <!-- mục tiêu quảng cáo -->
              <v-flex offset-lg2 lg8>
              <v-subheader class="header_gdn">Mục tiêu quảng cáo</v-subheader>
              <v-textarea
      
                color="orange"
                box
                hint="Mục tiêu mà bạn mong muốn"
                style="min-height: 96px; width:350px"
               
              ></v-textarea>
              <p>{{target_gs}}</p>
            </v-flex>
            <!-- done -->
            <!-- Tính phí -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_gdn">Tính phí</v-subheader>
              <v-radio-group style="font-family: cursive">
                <v-radio label="CPC" value="CPC_gs"></v-radio>
                <v-radio label="CPV" value="CPV_gs"></v-radio>
               
              </v-radio-group>
            </v-flex>
            <!-- done -->
            <!-- đơn giá -->
             <v-flex  offset-lg2 lg8>
              <v-subheader class="header_gdn">Đơn giá</v-subheader>
              <v-text-field  
               color="orange"
                box
              hint="CPC,CPV" ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- số lần hiển thị -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_gdn">Số lần hiện thị</v-subheader>
              <v-text-field
                color="orange"
                box
                hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
               
              ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- tỉ lệ nhấp quảng cáo -->
            <v-flex offset-lg2 lg8>
              <v-subheader class="header_gdn">Tỉ lệ nhấp quảng cáo</v-subheader>
              <v-text-field 
                
                color="orange"
                box
                label="%"
                hint="Ước tính tỉ lệ nhấp QC (CTR)"
               
              ></v-text-field>
             
            </v-flex>
            <!-- done -->
          </v-card>
          <!-- Phần shopping -->
           <v-card 
           class="demo_shop" 
         
          style="border-radius: 10px 10px 0px 0px;" 
          color="green lighten-3" 
          id="card_right">
             <v-subheader 
             
             class="white--text headline font-weight-bold  green "
             >Google GDN</v-subheader>
             <!-- mục tiêu quảng cáo -->
              <v-flex offset-lg2 lg8>
              <v-subheader class="header_shop">Mục tiêu quảng cáo</v-subheader>
              <v-textarea
      
                color="green"
                box
                hint="Mục tiêu mà bạn mong muốn"
                style="min-height: 96px; width:350px"
               
              ></v-textarea>
              <p>{{target_gs}}</p>
            </v-flex>
            <!-- done -->
            <!-- Tính phí -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_shop">Tính phí</v-subheader>
              <v-radio-group style="font-family: cursive">
                <v-radio label="CPC" value="CPC_gs"></v-radio>
                <v-radio label="CPV" value="CPV_gs"></v-radio>
               
              </v-radio-group>
            </v-flex>
            <!-- done -->
            <!-- đơn giá -->
             <v-flex  offset-lg2 lg8>
              <v-subheader class="header_shop">Đơn giá</v-subheader>
              <v-text-field  
               color="green"
                box
              hint="CPC,CPV" ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- số lần hiển thị -->
             <v-flex offset-lg2 lg8>
              <v-subheader class="header_shop">Số lần hiện thị</v-subheader>
              <v-text-field
                color="green"
                box
                hint="Số lần quảng cáo hiển thị tới người tìm kiếm"
               
              ></v-text-field>
            </v-flex>
            <!-- done -->
            <!-- tỉ lệ nhấp quảng cáo -->
            <v-flex offset-lg2 lg8>
              <v-subheader class="header_shop">Tỉ lệ nhấp quảng cáo</v-subheader>
              <v-text-field 
                
                color="green"
                box
                label="%"
                hint="Ước tính tỉ lệ nhấp QC (CTR)"
               
              ></v-text-field>
             
            </v-flex>
            <!-- done -->
          </v-card>
        </v-flex>
     
        
      </v-layout>
    </v-layout>
  </v-container>
</template>