<script>
import moment from 'moment';
import { isEmpty, map, includes, isEqual } from 'lodash'
import { contractService } from '@/_services/contract.service'
import { googleadsAccountService } from '@/_services/googleads.account.service';

import GoogleadsAccountTab from '@/components/contract/GoogleadsAccountTab'
import GoogleadsCampaignDatatable from '@/components/contract/GoogleadsCampaignDatatable'
import GoogleadsAdGroupDatatable from '@/components/contract/GoogleadsAdGroupDatatable'
import GoogleadsKeywordDatatable from '@/components/contract/GoogleadsKeywordDatatable'

export default {
	name: "GoogleadsAccount",
	props: {
		id: {
			type: String, 
			default: 0,
		}
	},
	data: () => ({
		dialog: false,
		drawer: false,
		tabs: null,
        toggle_exclusive: 2,
        toggle_multiple: [1, 2, 3],
		
		advertisingChannelType: [],
		advertisingChannelTypeOptions: [
			{ value: "SEARCH", text: 'Mạng Tìm Kiếm' },
			{ value: "DISPLAY", text: 'Mạng Hiển Thị' },
			{ value: "VIDEO", text: 'Video' },
			{ value: "SHOPPING", text: 'Mua sắm' },
		],
        
        startDate: null,
        endDate: null,
        minDateLimit: null,
        maxDateLimit: null,

        contractService: contractService,
        googleadsAccountService: googleadsAccountService
	}),

	computed: {
		keywordTabActive () {
			
			if( isEmpty(this.$store.state.globalFilterings.advertisingChannelType)
				|| includes(this.$store.state.globalFilterings.advertisingChannelType, 'SEARCH') 
				|| includes(this.$store.state.globalFilterings.advertisingChannelType, 'SHOPPING')) return true;

			return false;
		}
	},

	watch: {

		'$store.state.globalFilterings.clientId': function(){
            this.loadAdsAccount();
        },

		advertisingChannelType () {
			let _advertisingChannelTypes = [];
			if( ! isEmpty(this.advertisingChannelType)) _advertisingChannelTypes = map(this.advertisingChannelType, function(o){ return o.value; });
			
			this.$store.dispatch('globalFilterings/setAdvertisingChannelType', _advertisingChannelTypes );
		},

		// id () {
		// 	this.dispatchContractId();
		// },

		startDate () {
			if(isEmpty(this.startDate)) return;
			this.$store.dispatch('globalFilterings/setDateRange', {startDate : this.startDate, endDate: this.endDate} );
		},

		endDate () {
			if(isEmpty(this.endDate)) return;
			this.$store.dispatch('globalFilterings/setDateRange', {startDate : this.startDate, endDate: this.endDate} );
		}
	},

	created () { this.dispatchAccountId() },
	methods : {

		isTabActive (tabName) { return this.tabs == null ? false : (this.tabs == tabName ? true : false) },
		loadAdsAccount () {
			this.loading = true;
			return new Promise(() => {
				this.googleadsAccountService.getRuntime(this.id)
				.then(result => {
					
					let minDateLimit 	= moment.unix(result.data.min).format('YYYY-MM-DD') 
        			let maxDateLimit 	= moment.unix(result.data.max).format('YYYY-MM-DD') 
        			
        			this.startDate 		= minDateLimit
        			this.endDate 		= maxDateLimit
        			this.minDateLimit 	= minDateLimit
        			this.maxDateLimit 	= maxDateLimit

					return result;
				});
			});
		},

        dispatchAccountId () { this.$store.dispatch('globalFilterings/setClientId', this.id) }
	},

	components: {
		GoogleadsAccountTab,
		GoogleadsCampaignDatatable,
		GoogleadsAdGroupDatatable,
		GoogleadsKeywordDatatable,
	},
}
</script>

<template>
	<v-content>
		<v-container fluid>
			<v-layout row wrap grid-list-sm>
				<v-flex xs12>
					<v-toolbar>

						<v-spacer></v-spacer>

						<v-toolbar-items>

							<v-combobox v-if="!isTabActive('mobile-tabs-5-1')" :items="advertisingChannelTypeOptions" v-model="advertisingChannelType" label="Chọn loại chiến dịch" multiple></v-combobox>
							
							<v-menu :close-on-content-click="false" nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
								<v-text-field slot="activator" v-model="startDate" label="Chọn ngày bắt đầu" prepend-icon="event" readonly></v-text-field>
								<v-date-picker v-model="startDate" :min="minDateLimit" :max="maxDateLimit"></v-date-picker>
							</v-menu>

							<v-menu :close-on-content-click="false" nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
								<v-text-field slot="activator" v-model="endDate" label="Chọn ngày kết thúc" prepend-icon="event" readonly></v-text-field>
								<v-date-picker v-model="endDate" :min="minDateLimit" :max="maxDateLimit"></v-date-picker>
							</v-menu>
						</v-toolbar-items>
					</v-toolbar>	
				</v-flex>
				<v-flex sm12>
					<v-tabs v-model="tabs" centered color="blue-grey" dark icons-and-text>

						<v-tabs-slider color="orange"></v-tabs-slider>
						<v-tab href="#mobile-tabs-5-1">
							Tổng Quan
							<v-icon large>bar_chart</v-icon>
						</v-tab>

						<v-tab href="#mobile-tabs-5-2">
							Chiến dịch
							<v-icon large>filter_1</v-icon>
						</v-tab>

						<v-tab href="#mobile-tabs-5-3">
							Nhóm quảng cáo
							<v-icon large>filter_2</v-icon>
						</v-tab>

						<v-tab v-if="keywordTabActive" href="#mobile-tabs-5-4">
							Từ khóa
							<v-icon large>filter_3</v-icon>
						</v-tab>
					</v-tabs>

					<v-tabs-items v-model="tabs" class="white elevation-1">
						<v-tab-item touchless value="mobile-tabs-5-1" :key="1">
							<GoogleadsAccountTab :mcmAccountId="parseInt(id)" :isActive="isTabActive('mobile-tabs-5-1')"/>
						</v-tab-item>

						<v-tab-item touchless value="mobile-tabs-5-2" :key="2">
							<GoogleadsCampaignDatatable :mcmAccountId="parseInt(id)" :isActive="isTabActive('mobile-tabs-5-2')"/>
						</v-tab-item>

						<v-tab-item touchless value="mobile-tabs-5-3" :key="3">
							<GoogleadsAdGroupDatatable :mcmAccountId="parseInt(id)" :isActive="isTabActive('mobile-tabs-5-3')"/>
						</v-tab-item>
						<v-tab-item touchless v-if="keywordTabActive" value="mobile-tabs-5-4" :key="4">
							<GoogleadsKeywordDatatable :mcmAccountId="parseInt(id)" :isActive="isTabActive('mobile-tabs-5-4')"/>
						</v-tab-item>
					</v-tabs-items>

				</v-flex>
			</v-layout>
		</v-container>
	</v-content>
</template>