<script>
import ComplexSearchDialog from '@/components/navbar/ComplexSearchDialog'
import Footer from './inc/Footer'
import SpeedDialButtons from './inc/SpeedDialButtons'
import ToolbarItemProfile from './inc/ToolbarItemProfile'
import ToolbarItemNotifications from './inc/ToolbarItemNotifications'
import Quotation from './inc/Quotation'

export default {
	name: "HomePage",
	data: () => ({
		dialog: false,
		drawer: false,
		items: [
			{ icon: 'assessment', text: 'GoogleAds'},	
			{ icon: 'assignment', text: 'FacebookAds'},
			{ icon: 'assignment', text: 'Quotation', router:Quotation},
			{ icon: 'keyboard', text: 'Quay về phiên bản cũ', link: 'http://guru.adsplus.vn/'}
		]
	}),
	created () { if( ! this.$store.state.contracts.counter.types) this.$store.dispatch('contracts/countContracts') },
	components: {
		ComplexSearchDialog,
		ToolbarItemNotifications,
		ToolbarItemProfile,
		Quotation,
		SpeedDialButtons,
		Footer
	}
}
</script>

<template>
	<v-app id="inspire">
		<v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
			<!-- <v-list dense> -->
			<v-list>
				<template v-for="item in items">
					<v-layout v-if="item.heading" :key="item.heading" row align-center >
						<v-flex xs6>
							<v-subheader v-if="item.heading">
								{{ item.heading }}
							</v-subheader>
						</v-flex>
						<v-flex xs6 class="text-xs-center">
							<a href="#!" class="body-2 black--text">EDIT</a>
						</v-flex>
					</v-layout>
					<v-list-group v-else-if="item.children" v-model="item.model" :key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
						<v-list-tile slot="activator">
							<v-list-tile-content>
								<v-list-tile-title>
									{{ item.text }}
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
						<v-list-tile v-for="(child, i) in item.children" :key="i">
							<v-list-tile-action v-if="child.icon">
								<v-icon>{{ child.icon }}</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>
									{{ child.text }}
								</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list-group>
					<v-list-tile v-else :key="item.text">
						<v-list-tile-action>
							<v-icon>{{ item.icon }}</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>
								<a :href="item.link" v-html="item.text"></a>
							</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
				</template>
			</v-list>
		</v-navigation-drawer>
		

		<v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed>
			<v-toolbar-title style="width: 200px" class="ml-0 pl-3">
				<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
				<span class="hidden-sm-and-down">ADSPLUS</span>
			</v-toolbar-title>
			
			
			<v-divider class="mx-3" inset vertical></v-divider>
			<v-toolbar-items class="hidden-sm-and-down">
				<ComplexSearchDialog/>
			</v-toolbar-items>
			
			<v-spacer></v-spacer>
			
			<ToolbarItemProfile/>
			
		</v-toolbar>
		<Quotation/>
	
		<Footer/>
	</v-app>
</template>