<script>

import Alert from '@/components/Alert'
import { userService } from '@/_services/user.service'

export default {

    data: () => ({
        username: '',
        password: '',
        submitted: false,
        userService: userService,
        oauthAuthUrl: null,
    }),

    computed: {
        loggingIn () {
            return this.$store.state.authentication.status.loggingIn;
        }
    },
    created () {
        this.$store.dispatch('authentication/logout');

        //userService
    },
    mounted: function() {
        this.getOauthAuthUrl();
    },
    methods: {

        getOauthAuthUrl () {

            return new Promise(() => {

                this.userService.getOauthAuthUrl()
                .then(result => {

                    this.oauthAuthUrl = result.data;
                    return Promise.resolve(result);
                });
            });

        },

        callbackLogin (){

            const { id, email, basicInfo } = this;
            const { dispatch } = this.$store;
            if (id && email) {
                dispatch('authentication/loginOAuth', { id, email, basicInfo });
            }
        },
        handleSubmit () {
            const { username, password } = this;
            const { dispatch } = this.$store;
            
            if (username && password) {
                dispatch('authentication/login', { username, password });
            }
        }
    },
    components: {
        Alert
    },
};
</script>

<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center>
                    <v-flex xs12 sm8 md4>

                        <v-layout justify-center wrap class="py-3 my-3">
                            <v-flex xs12 sm12 md12>
                                <v-img src="logo.png" width="280"></v-img>
                            </v-flex>
                        </v-layout>
                        <h1 v-text="oauthAuthUrl"></h1>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>ĐĂNG NHẬP HỆ THỐNG</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-tooltip bottom></v-tooltip>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" v-model="username" label="Số điện thoại" type="text" :rules="[() => !!username || 'Vui lòng nhập số điện thoại của bạn']"></v-text-field>
                                    <v-text-field id="password" prepend-icon="lock" v-model='password' label="Mật khẩu" type="password" :rules="[() => !!password || 'Vui lòng nhập mật khẩu']"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn @click=" handleSubmit()" :loading="submitted" :disabled="submitted" color="primary">Đăng nhập</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <Alert/>
  </v-app>
</template>