<script>

export default {

}
</script>

<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout justify-center>
                    <v-flex xs12 sm8 md4>

                        <v-layout justify-center wrap class="py-3 my-3">
                            <v-flex xs12 sm12 md12>
                                <v-img src="logo-adsplus.png" width="280"></v-img>
                            </v-flex>
                        </v-layout>
                        <h1 v-text="oauthAuthUrl"></h1>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="rgba(247, 202, 24, 1)">
                                <v-toolbar-title class="white--text headline font-weight-regular">Đăng nhập Báo giá</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-tooltip bottom></v-tooltip>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" v-model="username" label="Tên đăng nhập" type="text" :rules="[() => !!username || 'Vui lòng nhập số điện thoại của bạn']"></v-text-field>
                                    <v-text-field id="password" prepend-icon="lock" v-model='password' label="Mật khẩu" type="password" :rules="[() => !!password || 'Vui lòng nhập mật khẩu']"></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary">Đăng nhập</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <Alert/>
  </v-app>
</template>