<script>
import moment from 'moment';
import { isEmpty, map, includes, isEqual } from 'lodash'
import { contractService } from '@/_services/contract.service'
import { googleadsAccountService } from '@/_services/googleads.account.service';

import GoogleadsAccountTab from '@/components/contract/GoogleadsAccountTab'
import GoogleadsCampaignDatatable from '@/components/contract/GoogleadsCampaignDatatable'
import GoogleadsAdGroupDatatable from '@/components/contract/GoogleadsAdGroupDatatable'
import GoogleadsKeywordDatatable from '@/components/contract/GoogleadsKeywordDatatable'

export default {
	name: "GoogleadsAccount",
	props: {
		id: {
			type: String, 
			default: 0,
		}
	},
	data: () => ({
		dialog: false,
		drawer: false,
		tabs: null,
        toggle_exclusive: 2,
        toggle_multiple: [1, 2, 3],
		
		advertisingChannelType: [],
		advertisingChannelTypeOptions: [
			{ value: "SEARCH", text: 'Mạng Tìm Kiếm' },
			{ value: "DISPLAY", text: 'Mạng Hiển Thị' },
			{ value: "VIDEO", text: 'Video' },
			{ value: "SHOPPING", text: 'Mua sắm' },
		],
        
        startDate: null,
        endDate: null,
        minDateLimit: null,
        maxDateLimit: null,

        contractService: contractService,
        googleadsAccountService: googleadsAccountService
	}),

	computed: {
		keywordTabActive () {
			
			if( isEmpty(this.$store.state.globalFilterings.advertisingChannelType)
				|| includes(this.$store.state.globalFilterings.advertisingChannelType, 'SEARCH') 
				|| includes(this.$store.state.globalFilterings.advertisingChannelType, 'SHOPPING')) return true;

			return false;
		}
	},

	watch: {

		'$store.state.globalFilterings.clientId': function(){
            this.loadAdsAccount();
        },

		advertisingChannelType () {
			let _advertisingChannelTypes = [];
			if( ! isEmpty(this.advertisingChannelType)) _advertisingChannelTypes = map(this.advertisingChannelType, function(o){ return o.value; });
			
			this.$store.dispatch('globalFilterings/setAdvertisingChannelType', _advertisingChannelTypes );
		},

		// id () {
		// 	this.dispatchContractId();
		// },

		startDate () {
			if(isEmpty(this.startDate)) return;
			this.$store.dispatch('globalFilterings/setDateRange', {startDate : this.startDate, endDate: this.endDate} );
		},

		endDate () {
			if(isEmpty(this.endDate)) return;
			this.$store.dispatch('globalFilterings/setDateRange', {startDate : this.startDate, endDate: this.endDate} );
		}
	},

	created () { this.dispatchAccountId() },
	methods : {

		isTabActive (tabName) { return this.tabs == null ? false : (this.tabs == tabName ? true : false) },
		loadAdsAccount () {
			this.loading = true;
			return new Promise(() => {
				this.googleadsAccountService.getRuntime(this.id)
				.then(result => {
					
					let minDateLimit 	= moment.unix(result.data.min).format('YYYY-MM-DD') 
        			let maxDateLimit 	= moment.unix(result.data.max).format('YYYY-MM-DD') 
        			
        			this.startDate 		= minDateLimit
        			this.endDate 		= maxDateLimit
        			this.minDateLimit 	= minDateLimit
        			this.maxDateLimit 	= maxDateLimit

					return result;
				});
			});
		},

        dispatchAccountId () { this.$store.dispatch('globalFilterings/setClientId', this.id) }
	},

	components: {
		GoogleadsAccountTab,
		GoogleadsCampaignDatatable,
		GoogleadsAdGroupDatatable,
		GoogleadsKeywordDatatable,
	},
}
</script>

<template>
	<v-content>
		<v-container fluid>
			<v-layout row wrap grid-list-sm>
				<v-flex xs12>
					<h1>where are you now !</h1>
				</v-flex>
			</v-layout>
		</v-container>
	</v-content>
</template>