<script>
import _ from 'lodash'
import $ from 'jquery'
import moment from 'moment'
import daterangepicker from 'bootstrap-daterangepicker'

export default {
	name: 'DateRangePicker',
	data: function(){
		return {
			Uid : _.uniqueId('DateRangePicker-'),
		}
	},
	mounted: function(){
		this.Init();
	},
	methods: {
		Init: function() {

			if($("#"+this.Uid).length == 0) return;

			var picker = $("#"+this.Uid);
			var start = moment();
			var end = moment();

			function cb(start, end, label) {
				var title = '';
				var range = '';

				if ((end - start) < 100 || label == 'Today') {
					title = 'Today:';
					range = start.format('MMM D');
				} else if (label == 'Yesterday') {
					title = 'Yesterday:';
					range = start.format('MMM D');
				} else {
					range = start.format('MMM D') + ' - ' + end.format('MMM D');
				}

				picker.find('.m-subheader__daterange-date').html(range);
				picker.find('.m-subheader__daterange-title').html(title);
			}

			picker.daterangepicker({
				startDate: start,
				endDate: end,
				opens: 'left',
				ranges: {
					'Hôm nay': [moment(), moment()],
					'Ngày hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'7 Ngày trước': [moment().subtract(6, 'days'), moment()],
					'30 Ngày trước': [moment().subtract(29, 'days'), moment()],
					'Tháng hiện tại': [moment().startOf('month'), moment().endOf('month')],
					'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
			}, cb);

			cb(start, end, '');
		}
	}
}
</script>

<template>
	<div>
		<span class="m-subheader__daterange" :id="Uid">
			<span class="m-subheader__daterange-label">
				<span class="m-subheader__daterange-title"></span>
				<span class="m-subheader__daterange-date m--font-brand"></span>
			</span>
			<a href="#/" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
				<i class="la la-angle-down"></i>
			</a>
		</span>
	</div>
</template>