<script>
import ResultContractComplexSearchDialog from './ResultContractComplexSearchDialog'
import ResultGoogleadsAccountsComplexSearchDialog from './ResultGoogleadsAccountsComplexSearchDialog'
import { contractService } from '@/_services/contract.service';

export default {
    name: "ComplexSearchDialog",
    data () {
        return {
            dialog: false,
            notifications: false,
            sound: true,
            widgets: false,
            tabs: null,
        }
    },
    computed: {

        contractCounter () { return this.$store.state.contracts.counter; },
        hasAccountsGoogleAds () { return true; },
        hasContractGoogleAds () { return _.has(this.$store.state.contracts.counter.types, 'google-ads') ? _.gt(this.$store.state.contracts.counter.types['google-ads'], 0) : false },
        hasContractFacebookads () { return _.has(this.$store.state.contracts.counter.types, 'facebook-ads') ? _.gt(this.$store.state.contracts.counter.types['facebook-ads'], 0) : false },
        contractId  () { return this.$store.state.globalFilterings.contractId },
        clientId    () { return this.$store.state.globalFilterings.clientId },
        contract    () { return this.$store.state.globalFilterings.contract },
        adsAccount  () { return this.$store.state.sharedData.adsAccount },
        displayResultText () {

            if(_.isEqual(this.$route.name, "GoogleadsAccount") && _.gt(this.clientId, 0) && ! _.isEmpty(this.adsAccount)) return "<b> TK : " + this.adsAccount.account_name + "</b>"

            if(_.isEqual(this.$route.name, "GoogleadsContract") && !_.gt(this.contractId) && !_.isEmpty(this.contract)) return "<b> HĐ : " + this.contract['contract_code'] + "</b>";

            return "Chọn Một tài khoản để hiển thị số liệu";
        },
    },
    watch: {
        '$store.state.contracts.counter': function(){ 
            this.dialog = false;
        },
        '$store.state.globalFilterings.contractId': function(){ this.dialog = false; }
    },
    components: {
        ResultContractComplexSearchDialog,
        ResultGoogleadsAccountsComplexSearchDialog,
    },
    methods: {
        closeDialog () { this.dialog = false }
    }
}
</script>

<template>
    <v-layout row justify-center>
        <v-btn @click="dialog = true" flat>
            <v-icon>scatter_plot</v-icon> &nbsp;
            <span v-html="displayResultText"></span>
            <v-icon>expand_more</v-icon>
        </v-btn>
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialog = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Chọn mục tiêu theo dõi</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark flat>Link tài khoản</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-tabs v-model="tabs" fixed-tabs color="transparent">
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab v-if="hasContractGoogleAds" href="#mobile-tabs-5-1" class="primary--text">
                        <v-icon>phone</v-icon> &nbsp;&nbsp;&nbsp;  HĐ Google Ads
                    </v-tab>

                    <v-tab v-if="hasAccountsGoogleAds" href="#mobile-tabs-5-2" class="primary--text">
                        <v-icon>favorite</v-icon> &nbsp;&nbsp;&nbsp; Tài khoản Google Ads
                    </v-tab>

                    <v-tab v-if="hasContractFacebookads" href="#mobile-tabs-5-3" class="primary--text">
                        <v-icon>account_box</v-icon> &nbsp;&nbsp;&nbsp; HĐ Facebook Ads
                    </v-tab>
                </v-tabs>

                <v-tabs-items v-model="tabs" class="white elevation-1">
                    <v-tab-item v-if="hasContractGoogleAds" value="mobile-tabs-5-1" :key="1">
                        <v-card>
                            <ResultContractComplexSearchDialog v-on:close_dialog="closeDialog"/>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item v-if="hasAccountsGoogleAds" value="mobile-tabs-5-2" :key="2">
                        <v-card>
                            <ResultGoogleadsAccountsComplexSearchDialog v-on:close_dialog="closeDialog"/>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item v-if="hasContractFacebookads" value="mobile-tabs-5-3" :key="3">
                        <v-card>
                            <ResultContractComplexSearchDialog contractType="facebook-ads"/>
                        </v-card>
                    </v-tab-item>
                </v-tabs-items>
            </v-card>
        </v-dialog>
    </v-layout>
</template>