<script>

import moment from 'moment'
import { ggAdsAccountService } from '@/_services/ggAdsAccount.service';

export default {
    name: 'ResultGoogleadsAccountsComplexSearchDialog',
    props: {
        contractType: {
            type: String,
            default: "google-ads"
        },
    },
    data: () => ({
        loading: true,
        pagination: {
            rowsPerPage: 10,
        },
        total: 0,
        selected: [],
        headers: [
            { text: 'Tên tài khoản', value: 'DescriptiveName' },
            { text: 'Tiền tệ', value: 'CurrencyCode' },
            { text: 'Clicks', value: 'Clicks' },
            { text: 'Hiển thị', value: 'Impressions' },
            { text: 'Chi phí/ Click', value: 'AverageCpc' },
            { text: 'Chi phí', value: 'CostMicros' },
            { text: 'Vị trí TB', value: 'AveragePosition' },
            { text: 'Chuyển đổi', value: 'Conversions' },
            { text: 'Tỷ lệ c.đổi', value: 'ConversionsFromInteractionsRate' },
            { text: 'Giá trị c.đổi', value: 'ConversionsValue' },
            { text: 'ROAS (giá trị c.đổi/ chi phí', value: 'ConversionsValuePerCost' }
        ],
        items: [],
        ggAdsAccountService: ggAdsAccountService
    }),
    watch: {
        items () { this.setDefaultAccountSelected() },
        pagination: {
            handler () {
                this.getDataFromApi();
            },
            deep: true
        }
    },
    computed: {

        requestOptionsBody() {

            let { sortBy, descending, page, rowsPerPage } = this.pagination;
            let _order = [];
            _order[sortBy] = descending ? 'desc' : 'asc';

            return {
                filter: { 
                    type: { operator: "=", value: this.contractType }
                },
                order: _order,
                pagination: { 'page': page , perPage: rowsPerPage}
            }
        }
    },
    created (){
        this.getDataFromApi();
    },
    methods: {
        setDefaultAccountSelected () {
            if(_.isEmpty(this.items) || !_.isEqual(this.$route.name, 'GoogleadsAccount') || this.$store.state.globalFilterings.clientId < 1) return true;    
            let account = _.find(this.items, (o) => { return o.term_id == this.$store.state.globalFilterings.clientId });
            this.$store.dispatch('sharedData/setAdsAccount', account);
        },
        getDataFromApi () {

            this.loading = true;

            return new Promise((resolve, reject) => {

                this.ggAdsAccountService.getManyBy(this.requestOptionsBody)
                .then(result => {
                    this.items = result.data;
                    this.loading = false;
                    this.total = result.total;
                    return result;
                });
            });
        },
        toggleAll () {
            if (this.selected.length) this.selected = []
                else this.selected = this.items.slice()
            },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        toDate (value) {
            if(value > 0) return  moment.unix(value).format('DD/MM/YYYY');
            return '--';
        },
        toLocaleString (value) {
            return parseInt(value).toLocaleString();
        },
        statusToString (value) {

            let _result = '';

            switch (value)
            {
                case 'publish': _result = 'Đang chạy'; break;
                case 'ending': _result = 'Đã kết thúc'; break;
                case 'liquidation': _result = 'Đang chạy'; break;
                case 'pending': _result = 'Tạm ngưng'; break;
                case 'unverified': _result = 'Đợi cấp số'; break;
                case 'waitingforapprove': _result = 'Đã cấp số'; break;
            }

            return _result;
        },
        itemSelected (account) {

            this.$store.dispatch('globalFilterings/setClientId', account.term_id);
            this.$store.dispatch('globalFilterings/setContractId', null);
            this.$store.dispatch('sharedData/setAdsAccount', account);
            this.$router.push(`/googleads/account/${account.term_id}`);
            this.$emit('close_dialog');
        }
    }
}
</script>

<template>
    <v-data-table v-model="selected" :headers="headers" :items="items" :pagination.sync="pagination" :loading="loading" :total-items="total" select-all item-key="term_id" class="elevation-1">
        <template slot="headers" slot-scope="props">
            <th v-for="header in props.headers" :key="header.text" :class="['text-xs-left', 'column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']" @click="changeSort(header.value)">
                <v-icon small>arrow_upward</v-icon>
                {{ header.text }}
            </th>
        </template>
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">
                <a href="#" @click="itemSelected(props.item)" v-text="props.item.account_name.toUpperCase()"></a>
            </td>
            <td class="text-xs-left" v-text="props.item.currencyCode"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.clicks)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.impressions)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.averageCpc)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.costMicros)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.averagePosition)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.conversions)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.conversionsFromInteractionsRate)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.conversionsValue)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.conversionsValuePerCost)"></td>
        </template>
    </v-data-table>
</template>