<script>
import moment from 'moment'
import { contractService } from '@/_services/contract.service';

export default {
    name: 'ResultContractComplexSearchDialog',
    props: {
        contractType: {
            type: String,
            default: "google-ads"
        },
    },
    data: () => ({
        loading: true,
        pagination: {sortBy: 'Id', descending: true, rowsPerPage: 10 },
        total: 0,
        selected: [],
        headers: [
            { text: 'Số HĐ', value: 'contract_code' },
            { text: 'Ngày chạy chiến dịch ', value: 'start_service_time' },
            { text: 'Ngày kết thúc', value: 'expected_end_time' },
            { text: 'Trạng thái', value: 'term_status' },
            { text: 'Ngân sách', value: 'actual_budget' },
            { text: 'Đã sử dụng', value: 'actual_result' },
            { text: 'Tổng Click', value: 'contract_clicks' },
            { text: 'Chi phí / Click', value: 'cpc' }
        ],
        items: [],
        contractService: contractService
    }),
    computed: {
        requestOptionsBody() {
            return {
                filter: { 
                    type: { operator: "=", value: this.contractType }
                },
                order: { Id: 'desc' },
                pagination: { page: 1, perPage: 10 }
            }
        },
        contractId () {
            return this.$store.state.globalFilterings.contractId;
        }
    },
    watch: {
        items () {

            if(_.isEmpty(this.items)) return; /* Không có bất kỳ hợp đồng nào được tải */
            if(_.isEqual(this.$route.name, 'GoogleadsAccount')) return; /* Đang ở router dành cho tài khoản */
            
            if(this.contractId > 0) return; /* Không có hợp đồng nào được tham chiếu  */
            this.itemSelected(_.find(this.items, (o) => { return o.start_service_time > 0 })) /* Cấu hình hợp đồng đầu tiên đã được kích hoạt ra để làm mặc định */
        },

        pagination: {
            handler () {
                this.getDataFromApi();
            },
            deep: true
        }
    },
    created: function(){
        this.getDataFromApi();
    },
    methods: {
        getDataFromApi () {

            this.loading = true;

            return new Promise((resolve, reject) => {

                const { sortBy, descending, page, rowsPerPage } = this.pagination;

                let _order = [];
                _order[sortBy] = descending ? 'desc' : 'asc';

                this.requestOptionsBody.order = _order;
                this.requestOptionsBody.pagination = { 'page': page , perPage: rowsPerPage};

                this.contractService.getManyBy(this.requestOptionsBody)
                .then(result => {
                    this.items = result.data;
                    this.loading = false;
                    this.total = result.total;
                    return result;
                });
            });
        },
        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
        toDate (value) {
            if(value > 0) return  moment.unix(value).format('DD/MM/YYYY');
            return '--';
        },
        toLocaleString (value) {
            return parseInt(value).toLocaleString();
        },
        statusToString(value){

            let _result = '';

            switch (value)
            {
                case 'publish': _result = 'Đang chạy'; break;
                case 'ending': _result = 'Đã kết thúc'; break;
                case 'liquidation': _result = 'Đang chạy'; break;
                case 'pending': _result = 'Tạm ngưng'; break;
                case 'unverified': _result = 'Đợi cấp số'; break;
                case 'waitingforapprove': _result = 'Đã cấp số'; break;
            }

            return _result;
        },
        itemSelected: function(contract){
            this.$store.dispatch('globalFilterings/setClientId', contract.mcm_client_id);
            this.$store.dispatch('globalFilterings/setContractId', contract.term_id);
            this.$router.push(`/googleads/contract/${contract.term_id}`);
            this.$emit('close_dialog');
        }
    }
}
</script>
<template>
    <v-data-table v-model="selected" :headers="headers" :items="items" :pagination.sync="pagination" :loading="loading" :total-items="total" select-all item-key="term_id" class="elevation-1">
        <template slot="headers" slot-scope="props">
            <th v-for="header in props.headers" :key="header.text" :class="['text-xs-left', 'column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']" @click="changeSort(header.value)">
                <v-icon small>arrow_upward</v-icon>
                {{ header.text }}
            </th>
        </template>
        <template slot="items" slot-scope="props">
            <td class="text-xs-left"><a href="#" @click="itemSelected(props.item)"> {{ props.item.contract_code }}</a></td>
            <td class="text-xs-right" v-text="toDate(props.item.start_service_time)"></td>
            <td class="text-xs-right" v-text="toDate(props.item.expected_end_time)"></td>
            <td class="text-xs-right" v-text="statusToString(props.item.term_status)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.actual_budget)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.actual_result)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.contract_clicks)"></td>
            <td class="text-xs-right" v-text="toLocaleString(props.item.cpc)"></td>
        </template>
    </v-data-table>
</template>