<script>
import NotificationsItem from '@/components/navbar/NotificationsItem'
import QuickActionItem from '@/components/navbar/QuickActionItem'
import ProfileItem from '@/components/navbar/ProfileItem'

export default {
    name: 'TopRightNavBar',
    components: {
        NotificationsItem,
        QuickActionItem,
        ProfileItem
    }
}
</script>

<template>
    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
        <div class="m-stack__item m-topbar__nav-wrapper">
            <ul class="m-topbar__nav m-nav m-nav--inline">
                <NotificationsItem/>
                <QuickActionItem/>
                <ProfileItem/>
            </ul>
        </div>
    </div>
</template>