<script>
  export default {
    name: 'Alert',
    data () {
      return {
        top: true,
        right: true,
        snackbar: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: ''
      }
    },
    watch: {
        '$store.state.alert.message': function(){
            
            if(this.$store.state.alert.message == null) return;

            this.text = this.$store.state.alert.message;
            this.mode = 'multi-line';

            switch (this.$store.state.alert.type)
            {
                case 'alert-success': this.color = 'success'; break;
                case 'alert-danger': this.color = 'error'; break;
                default: this.color = 'info'; break;
            }
            
            this.snackbar = true;
            this.$store.dispatch('alert/clear');
        },
    }
  }
</script>

<template>
    <v-snackbar 
        v-model="snackbar"
        :top="top"
        :right="right"
        :color="color"
        :multi-line="mode === 'multi-line'"
        :timeout="timeout"
        :vertical="mode === 'vertical'">
        {{ text }}
        <v-btn dark flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
</template>