<script>
import TopRightNavBar from '@/components/navbar/TopRightNavBar'
import SearchAccount from '@/components/navbar/SearchAccount'

export default {
    name: 'NavBar',
    components: {
        TopRightNavBar,
        SearchAccount
    }
}
</script>

<template>
    <header id="m_header" class="m-grid__item m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-brand ">
                    <div class="m-stack m-stack--ver m-stack--general">

                        <router-link class="m-stack__item m-stack__item--middle m-brand__logo" aria-haspopup="true" tag="li" to="/mcm" >
                            <a class="m-brand__logo-wrapper">
                                <img alt="" :src="'/themes/assets/app/media/img/logos/logo.png'"/>
                            </a>
                        </router-link>

                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                            <a href="javascript:;" id="m_aside_right_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--right m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                <span></span>
                            </a>
                            <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                <i class="flaticon-more"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>

                    <SearchAccount/>

                    <!-- start::header-menu -->
                    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light "  >
                        <ul class="m-menu__nav">

                            <router-link class="m-menu__item" aria-haspopup="true" tag="li" to="/mcm/negative/dashboard" >
                                <a class="m-menu__link">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                        Dữ liệu tổng quan
                                    </span>
                                </a>
                            </router-link>

                            <router-link class="m-menu__item" aria-haspopup="true" tag="li" to="/mcm/negative/keywords" >
                                <a class="m-menu__link">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                        Từ phủ định
                                    </span>
                                </a>
                            </router-link>

                            <router-link class="m-menu__item" aria-haspopup="true" tag="li" to="/mcm/negative/ideas" >
                                <a class="m-menu__link">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                                        Gợi ý phủ định
                                    </span>
                                </a>
                            </router-link>
                        </ul>
                    </div>
                    <!-- end:header-menu -->
                    <TopRightNavBar/>
                </div>
            </div>
        </div>
    </header>
</template>