<script>

import LeftBottomHelpItem from '@/components/sidebar/LeftBottomHelpItem'
import LeftBottomContactItem from '@/components/sidebar/LeftBottomContactItem'

export default {
    name: 'SideBar',
    components: {
        LeftBottomHelpItem,
        LeftBottomContactItem
    }
}
</script>
<template>
    <div id="m_aside_left" class="m-grid__item  m-aside-left m-aside-left--skin-light">
        <div class="m-brand  m-brand--skin-light">

            <a href="#" class="m-brand__logo">
                <img alt="" :src="'/themes/assets/app/media/img/logos/logo.png'">
            </a>
        </div>

        <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light" data-menu-vertical="true" m-menu-scrollable="true" m-menu-dropdown-timeout="500">
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">


                <router-link class="m-menu__item" aria-haspopup="true" tag="li" to="/mcm/negative/dashboard" >
                        <a class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-bag"></i>
                            <span class="m-menu__link-text">Phủ định từ khóa</span>
                        </a>
                </router-link>

                <li class="m-menu__item" aria-haspopup="true">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-eye"></i>
                        <span class="m-menu__link-text">Check Link QC không hoạt động</span>
                    </a>
                </li>

                <li class="m-menu__item" aria-haspopup="true">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-diagram"></i>
                        <span class="m-menu__link-text">Khám bệnh GoogleAds</span>
                    </a>
                </li>

                <li class="m-menu__item" aria-haspopup="true">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-stopwatch"></i>
                        <span class="m-menu__link-text">Khám bệnh Website</span>
                    </a>
                </li>

                <LeftBottomContactItem />
                <LeftBottomHelpItem />
            </ul>
        </div>
    </div>
</template>