<script>
export default {
    name: 'LeftBottomContactItem',
}
</script>
<template>
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-1" aria-haspopup="true" m-menu-submenu-toggle="click">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-support"></i>
                <span class="m-menu__link-text">
                    Help
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
        <div class="m-menu__submenu m-menu__submenu--up">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-1" aria-haspopup="true">
                    <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Chuyên viên tư vấn
                            </span>
                    </span>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="inner.html" class="m-menu__link ">
                        <i class="m-menu__link-icon la la-skype"></i>
                        <span class="m-menu__link-text">
                            cskh.ads.skype
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a mailto="thonh@webdoctor.vn" href="inner.html" class="m-menu__link ">
                        <i class="m-menu__link-icon la la-envelope"></i>
                        <span class="m-menu__link-text">
                            cskh@adsplus.vn
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="tel:02873004488" class="m-menu__link ">
                        <i class="m-menu__link-icon la la-headphones"></i>
                        <span class="m-menu__link-text">
                            HCM : (028) 7300 4488
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="tel:02473091616" class="m-menu__link ">
                        <i class="m-menu__link-icon la la-headphones"></i>
                        <span class="m-menu__link-text">
                            HN : (024) 7309 1616
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</template>