<script>
export default {
    name: 'LeftBottomHelpItem',
}
</script>
<template>
    <li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-2" aria-haspopup="true" m-menu-submenu-toggle="click">
        <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-exclamation-1"></i>
                <span class="m-menu__link-text">
                    Tài liệu
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
        <div class="m-menu__submenu m-menu__submenu--up">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-2" aria-haspopup="true">
                    <span class="m-menu__link">
                            <span class="m-menu__link-text">
                                Tài liệu
                            </span>
                    </span>
                </li>

                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon la la-book"></i>
                        <span class="m-menu__link-text">
                            Trung tâm trợ giúp
                        </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon la la-shield"></i>
                        <span class="m-menu__link-text">
                            Cam kết bảo mật
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</template>