<script>

import Home from './views/Home'
import Quotation from './views/inc/Quotation'
import LoginTu from './views/LoginTu'
import Baogia from './views/Baogia'

export default {
    name: 'App',
    components: {
        Home,
        Quotation,
        LoginTu,
        Baogia
    }
}
</script>

<template>

    <body id="app">
        <!-- <router-view /> -->
        <!-- <Home></Home> -->
        <!-- <Quotation></Quotation> -->
        <!-- <LoginTu></LoginTu> -->
        <Baogia></Baogia>
        

    </body>
</template>