<script>
import NavBar from '../components/NavBar'
import SideBar from '../components/SideBar'
import FooterBar from '../components/FooterBar'

export default {
	name: 'DefaultLayout',
	components: {
		NavBar,
		SideBar,
		FooterBar
	}
}
</script>

<template>
	<!-- <div> -->
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<NavBar />
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				
				<SideBar />
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
						<!-- BEGIN: Subheader -->
						<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title m-subheader__title--separator">
								Bảng điều khiển
								</h3>
								<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
									<li class="m-nav__item m-nav__item--home">
										<a href="#" class="m-nav__link m-nav__link--icon">
										<i class="m-nav__link-icon la la-home"></i>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
										<span class="m-nav__link-text">
										Bảng điều khiển
										</span>
										</a>
									</li>
									<li class="m-nav__separator">
										-
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
										<span class="m-nav__link-text">
										Báo cáo tổng quan
										</span>
										</a>
									</li>
								</ul>
							</div>
							<div>
								<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
								<span class="m-subheader__daterange-label">
								<span class="m-subheader__daterange-title"></span>
								<span class="m-subheader__daterange-date m--font-brand"></span>
								</span>
								<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
								<i class="la la-angle-down"></i>
								</a>
								</span>
							</div>
						</div>
						</div>
						<!-- END: Subheader -->
						<div class="m-content">
						<!--Begin::Section-->
						<!--End::Section-->
						</div>
				</div>
			</div>
			<!-- end:: Body -->
			<FooterBar />
		</div>
		<!-- end:: Page -->
	<!-- </div> -->
</template>